<div class="__old">
  <div id="header0">
    <div class="wrapper" style="<%= defined?(style) ? style : '' %>">
      <div id="slab1" class="active">
        <img src="<%= asset_path('ie/header0_1.png') %>" />
        <a href="http://<%= Setting.ktv_domain %>/?force_main=1">Kejian.TV主站</a>
      </div>
      <div id="slab2" class="">
        <img src="<%= asset_path('ie/header0_2.png') %>" />
        <a href="http://<%= Setting.ktv_simple_domain %>">目录检索区</a>
      </div>
      <div id="slab3" class="">
        <img src="<%= asset_path('ie/header0_3.png') %>"/>
        <a href="http://<%= Setting.ktv_search_domain %>/">搜索区</a>
      </div>

      <div id="header0btn">
      </div>
      <% content_for :butt2 do %>
        $('#header0btn').click(function(){
          <% if false == @application_ie_modern_required %>
            window.location.href="<%= new_courseware_path %>";
          <% else %>
            window.location.href="/simple/new.php";
          <% end %>
        });
      <% end %>
      <div class="spliter">
      </div>
      <div class="profile" id="slab_profile">
        <%= image_tag 'ie/header0profile.png' %>
      </div>
      <div class="spliter">
      </div>
    </div>
  </div>
</div>
