<div class="presenter">
  <a href="<%=user_path(user)%>"><%= avatar_tag(user,:small47) %></a>
  <h2><a href="<%=user_path(user)%>"><%=user.name%></a></h2>
  <p><%=user.coursewares.count%> 个课件</p>
</div>
