<%= image_tag 'ie/ktv_invite.png',:class => 'ktvregh2', :alt => '注册新用户' %>
<% resource = @user;resource_name='user' %>
<%= form_for(resource, :as => 'user', :url => invite_submit_users_path, :html=>{:class => 'normal',:id=>'submit_btn_form',:autocomplete=>"off"}) do |f| %>
  <%# devise_error_messages! %>
  <div class="field">
    <%= f.label :name,'真实姓名' %><div class="field_error" id="regerror_name"><%= resource.errors_for_field(:name) %></div><br class="clear">
    <%= f.text_field :name,:class => 's462',:tabindex => 1,:autocomplete=>"off" %>
  </div>
  <div class="field">
    <%= f.label :email,'E-mail' %>(<%= link_to "重发激活邮件", new_user_confirmation_path %>)(<%= link_to "忘记密码", new_password_path(resource_name) %>)<div class="field_error" id="regerror_email"><%= resource.errors_for_field(:email) %></div><br class="clear">
    <%= f.email_field :email,:class => 's462',:tabindex => 2,:autocomplete=>"off" %>
  </div>
  <div class="__sdk">
    <div class="form_sections" style="margin-bottom:18px">
      <p><label for="user_email">照片</label><div class="field_error" id="regerror_name"><%= resource.errors_for_field(:avatar) %></div><br class="clear">
        <input id="file_uploader" name="user[avatar]" type="file" style="height:33px;padding-left:0;text-indent:0" size="30" /><br>
              上传一张被邀请人的照片吧！支持 jpg, gif, png 格式的图片，不要超过 2MB。建议图片尺寸为大于等于 300×300 的正方形。
      </p>
    </div>  
  </div>
  <div class="clearfix" style="margin-top:20px;padding-bottom:8px">
    <div class="field fl">
      <a href="javascript:void(0)" class="btn btn210 submit_btns" id="submit_btn">添加到待邀列表</a>
    </div>
    <div class="field fr">
      <a href="<%= cancel_href %>" class="btn btn210_grey">取消</a>
    </div>
  </div>
<% end %>
<% if @invited_users.present? %>
<div class="__qua clearfix">
  <div class="main_col col w4_5">
  	<div class="p0_5">
  		<h1 class="heading">待邀列表</h1>
  		<div class="contacts_previous_invitations">
  			<div id="ld_NURTav_14632">
  				<div id="ld_NURTav_14636" class="pagedlist_item">
<% @invited_users.each do |item| %>
  					<div class="col w4_5 item p1 contact_list_item">
  						<div class="col w0_5">
  							<img width="50" height="50" src="<%= avatar_url(item) %>">
  						</div>
  						<div class="col w3000">
  							<div class="name">
  								<strong><%= item.name %></strong>
  							</div>
  							<p class="action_bar">
  								<a id="__w2_ssdDwXE_email" href="#"><%= item.email %></a>
	<% if item.inviter_invited_at[current_user.id.to_s].present? %>
	 <span class="bullet"> • </span>邀请于<%= item.inviter_invited_at[current_user.id] %>
	<% end %>
  							</p>
  						</div>
  						<div class="side_col col w1">
  							<div id="ld_NURTav_14667">
	<% if item.inviter_invited_at[current_user.id.to_s].present? %>
  								<a id="__w2_g1VZBf5_invite" href="#" class="action_button">重新发送</a>
  <% else  %>
  								<a id="__w2_g1VZBf5_invite" href="#" class="action_button">发送邀请</a>
  <% end %>
  							</div>
  						</div>
  					</div>
<% end %>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<div style="width:100%;height:50px"></div>
<% end %>
<% content_for :butt2 do %>
$('#user_name').blur(function(){
  KTV.checkUsername(this);
  return true;
});
$('#user_email').blur(function(){
  KTV.checkEmail(this);
  return true;
});
<% end %>
