
<%= render "head", :user => @user %>

<section class="userNavContent">
  <%= render 'subnav',:user=>@user %>
  <section>
    <ul class="cList">
      <% @followers.each do |item| %>
        <%if !User.where(:_id=>item).first.blank?%>
          <%= render "follower", :follower => item %>
        <%end%>
      <% end %>
    </ul></section>
  <%= will_paginate @followers, :renderer=>WendaoLinkRenderer,:inner_window=>2 %>
</section>

<%= render "sidebar", :user => @user %>


