<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <% yield :head%>
  <title>问道-智联旗下职场问答交流平台</title>
  <% if use_yahei_font?(request.env["HTTP_USER_AGENT"]) %>
  <%= stylesheet_link_tag "font","application","users","asks","front","facebox","jquery.jdialog","jquery.qeditor","jquery.autocomplete", "jquery.tipsy" %>
  <% else %>
  <%= stylesheet_link_tag "font_no_cleartype","application","users","asks","front","facebox","jquery.jdialog","jquery.qeditor","jquery.autocomplete", "jquery.tipsy" %>
  <% end %>
	<%= yield :styles %>
  <meta name="keywords" content="职业规划,问答,职场,加薪,问道," />
  <meta name="description" content="问道是智联招聘旗下的职场领域问答交流平台.问道助你制定专业的职业规划,提供求职指导,分享职场知识,赢取工作机会.问道拥有大批职场专家,行业资深人士,知名企业HR,同行,校友." />
  <link rel="shortcut icon" href="/favicon.ico?v=003" /> 
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery.min","rails","facebox","jquery.jdialog","jquery.qeditor","jquery.autocomplete_embed", "jquery.cookie","jquery.tipsy" ,"jcaches","application","asks","topics","users","inbox" %>
	<script src="http://<%= @zomet_config["server"] %>/application.js" type="text/javascript" charset="utf-8"></script>
  <%= yield :scripts %>
  <script type="text/javascript">
    <% if current_user %>
    var logined = true;
    <% else %>
    var logined = false;
    <% end %>

		<% if current_user %>
		window.WEB_SOCKET_SWF_LOCATION = "http://<%= @zomet_config["server"] %>/WebSocketMain.swf";
		$(document).ready(function() {
		/*
			var jug = new Juggernaut({host: '<%= @zomet_config["host"] %>', port: <%= @zomet_config["port"] || 80 %>});
			jug.subscribe("/notifications/<%= current_user.slug %>", function(data){
				$('#notify_badge').removeClass("force-hide");
				if ($(document).attr("title").indexOf("(新) ") < 0) {
					$(document).attr("title", "(新) " + $(document).attr("title"));
				}
			});
		*/
		});
		<% end %>
  </script>
<%= stylesheet_link_tag 'embed_search' %>
</head>



<body>
	
	
<%= form_tag "/asks/new",:method=>:get do |f| %>
<div id="add_ask">
<div id="add_ask_header">相关问答
<%if user_signed_in?%>
 | <%=render file:'/embed/mail_icon'%>
<%end%></div>
<div id="add_ask_body">
有任何关于面试、公司、职位的问题？<br>
<input type="text" placeholder="请输入想问的问题..." />
<input type="submit" value="创建问题" class="u13" id="u13" onclick="return Asks.addAsk();">
<p>
<span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">相关话题/问题：</span>
<br>
<span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">智联招聘设计师</span>
<span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">平面设计师</span>
<span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">智联招聘面经</span>
<span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">智联招聘</span>
<span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">智联招聘薪资</span>
</p>
</div>
</div>
<% end %>

<script type="text/javascript">
  Asks.completeAll($("#add_ask input"));
</script>

<div style="display: none;" id="hidden_new_ask">
  <h2>创建新问题</h2>
  <form action="/asks" method="post" id="inner_new_ask">
    <%= auth_token %>
    <textarea type="text" name="ask[title]" class="title" placeholder="在这里输入问题"></textarea>
    添加更多描述可选<span style="color:#999">（可选）</span>
    <textarea type="text" name="ask[body]"></textarea>
    <button type="submit" class="submit">添加问题</button> <a href="#" onclick="$.facebox.close(); return false;">取消</a>
  </form>
</div>
<div style="display: none;" id="loading"> 
  <div class="logo"></div> 
  <div class="text">加载中…</div> 
</div> 
<div style="width:0px;height:0px;overflow:hidden;">
  <%= image_tag("loading.gif") %>
  <div id="report_page">
    <h2>举报内容</h2>
    <form id="report_page_form" action="/report.js" onsubmit="App.loading();" method="post" class="simple_form">
      <%= auth_token %>
      <div class="row">
        <input type="hidden" name="url" value="<%= request.url %>" />
        <label class="string">请填写举报原因:</label>
        <textarea name="desc" style="width:400px;height:80px;"></textarea>
      </div>
      <div class="acitons">
        <button type="submit">提交</button> <a href="#" style="margin-left:5px;" onclick="$.facebox.close(); return false;">关闭</a>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  if(!$.browser=='ie'){
    $("[rel=tipsy]").tipsy({gravity: $.fn.tipsy.autoNS});
    $("[rel=tipsyr]").tipsy({gravity: "w" });
    $("[rel=tipsyt]").tipsy({gravity: "s" });
}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= Setting.google_analytics_id %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>



</html>
