<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_hoth", :media => "all" %>
<% end %>
<% content_for :body_style do %>background: none repeat scroll 0 0 #F0EEEE<% end %>


<div class="__sdk">
  <section id="about" class="feature">
    <div class="wrapper">
      <div class="primary_info">
        <h1><em><%= image_tag 'h1.png',:alt => '轻松分享' %></em><br><%= image_tag 'h2.png',:alt => '讲义·电子书·复习资料·解题互助·课堂录像' %></h1>
        <p>
          <%= image_tag 'p.png',:alt => '通过课件交流系统，您可以迅速定位最感兴趣的课程，轻松获取大家共同维护的最优质的一份学习资料。然而，课件系统不仅是一个出色的学习资源交流平台，她更是一个开放的在线学习社区。在这里，您可以把遇到的难题发出来，大家共同切磋，也可以让大家为您的学习目标出谋划策。在这里，我们共同进步！' %>
        </p>
        <p><a href="<%=new_courseware_path%>" id="loginhuge" class="button primary">立即开始上传分享课件</a></p>
      </div>
      <div class="secondary_info">
        <div class="slide_frame">
          <script async class="speakerdeck-embed" data-course-slug="<%=@courseware.topic%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="1.3333333333333333" src="<%=asset_path     'ktv/embed.js'%>"></script>
        </div>
      </div>
    </div>
  </section>
  <section id="tabs">
    <div class="wrapper">
      <div class="main">
        <ul>
          <li class="current"><a href="#description">最新上传</a></li>
        </ul>
      </div>
    </div>
  </section>
	<section class="supplimental" id="featured">
  <div class="wrapper"<% if @is_ie%> style="width:1100px;padding-left:136px"<% end %>>
		<div class="main" style="width:100%;margin-left:2px">
	  <% @latest_cw.each do |item| %>
    <% sz = [item.slides_count-1,50].min %>
    <div data-slide-count="<%= sz %>" data-id="<%= item.id %>" class="presentation">
        <a href="<%= courseware_path item %>" class="slide_preview scrub setup">
      	  <% (sz).downto(1).each do |i| %>
      		  <img style="display: none;" data-slide="<%= i %>" class="timeline" alt="第<%= i %>页" src="<%= asset_url("cw/#{item.id}/#{item.revision}thumb_slide_#{i}.jpg") %>">
      		<% end %>
      		<img src="<%= asset_url("cw/#{item.id}/#{item.revision}thumb_slide_0.jpg") %>" alt="Thumb_slide_0" width="210" height="158">
      		<div class="scrubber">
      			<div style="width: 100%;" class="scrubbed">
      			</div>
      		</div>  		
        </a>
        <div class="preview_info">
      		<h3><a href="<%= courseware_path item %>"><%= item.title %></a></h3>
      		<p class="date">
      			<%= l(item.created_at, :format => :long) %>, <a href="/users/<%= User.get_slug item.user_id %>"><%= User.get_name item.user_id %></a>
      		</p>
        </div>
    </div>

    <% end %>
		</div>
	</div>
	</section>
</div>

<%= render file:'/application/headers/_zm_header' %>

<div class=" __zm">
<div class="tagchannel" style="padding-top:0">
<div id="wrapper">
<div id="nav" class="categorybody">
<div class="navandshadow">
<div class="categories">

<div class="sortnav-mod sortnav-male cf" id="categories_table">


<% content_for :butt2 do %>
$('#categories_table > div').height($('#categories_table').height());
<% end %>













<% father=Topic.math_and_sciences %>
<div class="col-coat">
<h3><a href="<%= topic_path father %>" class="coat"><span ></span>数学与自然科学</a></h3>
<ul class="navlist" style="margin-left:22px">
<% father.children_inst.desc('coursewares_count').each do |topic| %>
<li  ><a class="<%= 'orange' if topic.coursewares_count > 100 %>" href="<%= topic_path(topic) %>"><span><%= topic.name %></span></a></li>
<% end %>
</ul>
</div>
















<% father=Topic.engineering %>
<div class="col-pants">
<h3><a href="<%= topic_path father %>" class="pants"><span ></span>工程</a></h3>
<ul class="navlist">
  <% father.children_inst.desc('coursewares_count').each do |topic| %>
  <li  ><a class="<%= 'orange' if topic.coursewares_count > 100 %>" href="<%= topic_path(topic) %>"><span><%= topic.name %></span></a></li>
  <% end %>
</ul>
</div>
















<% father=Topic.humanities %>
<div class="col-accessories">
<h3><a href="<%= topic_path father %>" class="accessories"><span ></span>人文、艺术与社会科学</a></h3>
<ul class="navlist">
<% father.children_inst.desc('coursewares_count').each do |topic| %>
<li  ><a class="<%= 'orange' if topic.coursewares_count > 100 %>" href="<%= topic_path(topic) %>"><span><%= topic.name %></span></a></li>
<% end %>
</ul>
</div>






<div class="col-other">













<% father=Topic.interdisciplinaries %>
<h3 class="sty"><a href="<%= topic_path father %>">交叉学科</a></h3>
<ul class="sty-list cf">
<% father.children_inst.desc('coursewares_count').each do |topic| %>
<li  ><a class="<%= 'orange' if topic.coursewares_count > 100 %>" href="<%= topic_path(topic) %>"><span><%= topic.name %></span></a></li>
<% end %>
</ul>





<% father=Topic.others %>
<h3 class="ele"><a href="<%= topic_path father %>">其他</a></h3>
<ul class="ele-list cf">
<% father.children_inst.desc('coursewares_count').each do |topic| %>
<li  ><a class="<%= 'orange' if topic.coursewares_count > 100 %>" href="<%= topic_path(topic) %>"><span><%= topic.name %></span></a></li>
<% end %>
</ul>



</div>
</div>
<input id="removeIds" type="hidden" value="" />
</div><!--categories ends-->
<div class="sheetshadow"></div><!--薄片阴影-->
</div>
<div class="calloutcontainer"><!--圆形按钮-->
<div class="callout"><span class="iconbg arrow"></span></div>
</div>
</div><!--categorybody end 分类结束-->

</div>
</div>

<div id="pagewrap" style="margin-top:48px">
  
<!--banner begins-->

<div class="hotbanner" style="height:300px;margin-top:48px">
<div id="js-ad-show1">
<script type="text/javascript" charset="utf-8">
  <% content_for :butt2 do %>
  (function () {
      var adJson = [{
          "_id": {
              "$oid": "5010fc7ce138231d43000054"
          },
          "name": "近世代数领域电子书",
          "link": "<%= courseware_path('5010fc7ce138231d43000054') %>",
          "link2": "<%= topic_path('501108b8e138231d50000076') %>",
          "l": 1,
          "url": "<%= asset_path('ad/1342660139979.950.300.jpg') %>",
          "s": "20120720",
          "e": "20120726",
          "show": 1,
          "r": 1
      }, {
          "_id": {
              "$oid": "501152f0e13823651e0000bc"
          },
          "name": "Ruby领域课件",
          "link": "<%= courseware_path('5010ca51e138231d43000047') %>",
          "link2": "<%= topic_path('5010c618e138231d5000005f') %>",
          "l": 1,
          "url": "<%= asset_path('ad/1342751468132.950.300.jpg') %>",
          "s": "20120719",
          "e": "20120725",
          "show": 1,
          "r": 2
      }, {
          "_id": {
              "$oid": "50045086e138230180000001"
          },
          "name": "数学分析领域课件",
          "link": "<%= courseware_path('50045086e138230180000001') %>",
          "link2": "<%= topic_path('5005f34ee1382341d9000020') %>",
          "l": 1,
          "url": "<%= asset_path('ad/1342577163666.950.300.jpg') %>",
          "s": "20120718",
          "e": "20120725",
          "show": 1,
          "r": 3
      }, {
          "_id": {
              "$oid": "5004aeaa0cf240ad055802df"
          },
          "name": "邀请好友注册",
          "link": "<%= invite_users_path %>",
          "link2": "<%= invite_users_path %>",
          "l": 1,
          "url": "<%= asset_path('ad/1342060797757.950.300.jpg') %>",
          "s": "20120717",
          "e": "20120723",
          "show": 1,
          "r": 4
      }];
      var aduri = "";
      var html = new Array();
      var slidebutton = new Array();
      html.push('<div class="bannerimg"  id="js-imgslide-1">');
      for (var i = 0; i < adJson.length; i++) {
          var json = adJson[i];
          html.push('<a class="js-ad-click"    href="');
          html.push(json.link);
          html.push('"  data-id="' + json._id.$oid);
          html.push('"><img src="' + aduri + json.url + '" border="0" style="cursor:pointer" /></a>');
          slidebutton.push('<li><a href="'+json.link2+'">' + json.name + '</a></li>');
      }
      html.push('<ul class="tag">' + slidebutton.join("") + '</ul>');
      html.push('</div>');
      $("#js-ad-show1").html(html.join(""));

      function statAd() {
          var imgObj = $("#js-imgslide-1");
          var id = imgObj.find(".imgBlock").parent("a").data("id");
          if (id == undefined) {
              return;
          }
          if (imgObj.data(id)) {
              return;
          }
          imgObj.data(id, 1);
          var uri = "http://nb.zhimei.com/nb/adstat?id=" + id + "&f=show";
          var img = new Image(0, 0);
          img.src = uri;
          img.onload = function () {};
      };
      im(function () {
        im.zm.categoryNav({
            ele: $("#nav"),
            subEle: $("#nav .navandshadow"),
            obj: $("#nav .callout"),
            upClass: "arrowup",
            downClass: "arrow",
            top: "49px",
            left: "-465px"
        });
        
        $("#js-imgslide-1").doImages({
            imgs: $("#js-imgslide-1 img"),
            thumbs: $("#js-imgslide-1 >ul>li>a"),
            num: 0,
            thumbsClass: "current",
            auto: true,
            stat: statAd,
            time: 5000
        });
      });
      /**end**/
  })();
  <% end %>
</script>
</div>
<!-- changes start -->	
<div class="description png">
<ul class="gray png">

<li class="png">				
<h3 class="ttname aligncenter"><span class="yahe"><a href="/topics?isProduct=1" >幻灯片</a></span></h3>		
<p class="aligncenter"><a href="/topics?isProduct=1" class="gray" >最美观的网页讲义展示</a></p>
</li>

<li class="png">				
<h3 class="ttname aligncenter"><span class="yahe"><a href="/topics" >文档资料</a></span></h3>		
<p class="aligncenter"><a href="/topics" class="gray" >看大家分享了哪些学术资料</a></p>
</li>

<li class="png">				
<h3 class="ttname aligncenter"><span class="yahe"><a href="/topics?priceScope=2" >电子书</a></span></h3>		
<p class="aligncenter"><a href="/topics?priceScope=2" class="gray" >与领域同行分享电子书资源</a></p>
</li>
	
<li class="png">

<p class="aligncenter"><a href="<%= new_courseware_path %>" class="gray" id="core_addcw2">与大家分享课件？猛击这里！</a></p>
<!-- <p class="aligncenter"><a href="<%= new_ask_path %>" class="gray" id="core_addtext2">把你的难题发出来，与大家切磋吧！</a></p> -->
<% content_for :butt2 do %>
$('#core_addtext2').click(function(){return Asks.addAsk()});
$('#core_addcw2').click(function(){return KTV.addCW()});
<% end %>
</li>		
</ul>
</div>
<!-- changes end -->
<div class="bottom"></div>
</div>
<!--end-->

<!--banner ends-->
  <div id="content" style="margin-top:18px">
  <div class="boxnoun cf" style="padding-bottom:26px;">
  <div class="foreign-rec">
  <h2 class="itemhead"><span class="greenline size_1"><span class="item-title"><b class="blue">最热门</b>老师</span></span></h2>
  <div class="bigshow">
  <a href="<%= user_path(@hottest_user) %>" ><img src="<%= avatar_url(@hottest_user,:huge) %>" /></a>
  </div>
  <div class="taright">
    <h3 class="ttname" style="line-height: 1">
        <a href="<%= user_path(@hottest_user) %>" ><span class="yahe blue bigtitle" style="color:#1D8B74;"><%= @hottest_user.name %></span></a>
        <%= renzheng_teacher(@hottest_user) %>
  		  <% if (current_user and current_user.followed?(@hottest_user)) %>
        <a follow="true" followed="<%= @hottest_user.id %>" id="<%= @hottest_user.id %>" class="hotbutton unfollow-btn">已关注</a>
        <% else %>
        <a class="hotbutton follow-btn" id="<%= @hottest_user.id %>" followed="<%= @hottest_user.id %>" follow="false">关注</a>
        <% end %>
    </h3>
    <p>
        <a href="<%= user_path @hottest_user %>" class="gray" >
          <%= @hottest_user.bio_plain %>
        </a>

    </p>
    <h3 class="ttname" style="line-height: 1">
        <span class="yahe">课件选集 (<a href="<%= user_path @hottest_user %>">共有课件 <span class="orange"><%= @hottest_user.coursewares_count%></span> 个)</a></span>
    </h3>

  <ul class="cf">
  <% @hottest_user.coursewares.desc('views_count').limit(5).each do |item| %>
  <li><a href="<%= courseware_path item %>" ><%= item.title %></a> (<span class="orange"><%=number_with_delimiter  item.views_count %></span>&nbsp;点击)</li>
  <% end %>
  </ul>
  </div>
  </div>
  <div class="site-rec">
  <h2 class="itemhead"><span class="more"><a id="zhimei_star_refresh" class="rotationbody" href="javascript:void(0)"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a></span><span class="greenline size_2"><span class="item-title"><b class="blue">领域</b>专家</span></span></h2>
  <ul id="zhimei_star_ul">
    <%= render 'star_ul_lis' %>
  </ul>
  </div>
  </div>
  <!--end-->

  </div>
  <!--end -->
</div>

<div style="width:100%;height:28px"></div>
</div>

<script type="text/javascript">
<% content_for :butt2 do %>
function moveImgs(parentObj, n, w) {
    var subObj = parentObj.find("li");
    if (subObj.size() < n + 1) {
        return;
    }
    if (subObj.eq(n - 1).nextAll().size() < n) {
        var t = n - subObj.eq(n - 1).nextAll().size();
        for (var i = 0; i < t; i++) {
            $("<li class='cf'>" + subObj.eq(i).html() + "</li>").appendTo(parentObj);
        }
    }
    setInterval(function () {
        var subObj = parentObj.find("li");
        parentObj.stop(true, true).animate({
            left: "-=" + w * n
        }, 1000, function () {
            for (var i = 0; i < n; i++) {
                $("<li class='cf'>" + subObj.eq(i).html() + "</li>").appendTo(parentObj);
            }
            subObj.eq(n).prevAll().remove();
            parentObj.css({
                left: 0
            });
        });
    }, 5000);
}
$(function () {
    moveImgs($("#js_task2"), 3, 224);
    var groupId = 1;
    $('#recommend_refresh').live("click", function () {
        var ulObj = "recommend_ul";
        groupId = parseInt(groupId) + 1;
        var prefix = 'http://b.imimg.cn';
        var total = '10';
        var todayFocusTotal = parseInt(total);
        if (groupId > todayFocusTotal) {
            groupId = 1;
        }
        $.get(uri("URI_INDEX_RECOMMEND_REFRESH", groupId), function (data) {
            if (data.length) {
                $('#' + ulObj).html("");
                var content = '';
                for (var i = 0, len = data.length; i < len; i++) {
                    var liStyle = "";
                    if (i == 2 || i == 5) {
                        liStyle = 'last';
                    }
                    content = '<li' + liStyle + '>' + '<div class="showimg"><a href="/board/share/' + data[i].userId + '/' + data[i].boardId + '/' + data[i].boardPicId + '" ><img src="' + prefix + '/' + data[i].picUrl + '" /></a></div>' + '<div class="showsay">' + '<p class="summary"><a href="/board/share/' + data[i].userId + '/' + data[i].boardId + '/' + data[i].boardPicId + '" class="gray" >' + data[i].description + '</a></p>' + '<p class="num"><span class="blue js-share-count">' + data[i].shareCount + '</span> 个收集 </p>' + '<p class="relative">' + '<span style="position: absolute; left: 0pt; top: -33px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>' + '<a class="button favourite-btn"  boardId =' + data[i].boardId + '" boardPicUserId ="' + data[i].boardPicUserId + '" sharePicId="' + data[i].sharePicId + '" to="' + data[i].boardPicId + '">收集</a>' + '</p>' + '</div>' + '</li>';
                    $('#' + ulObj).append(content);
                }
            }
        });
        try {
            _gaq.push(['_trackPageview', "/i_certify_user_recommend/"]);
        } catch (e) {}
    });
});
$("a[name='comment_refresh']").live("click", function () {
    var ref = $(this).attr("ref");
    var divObj = ref + "_share_comment";
    var channelType = "";
    if (ref == 'man') {
        channelType = 'm_recommend_comment_random';
    } else if (ref == 'women') {
        channelType = 'f_recommend_comment_random';
    } else if (ref == 'house') {
        channelType = 'h_recommend_comment_random';
    }
    $.get(uri("URI_INDEX_COMMENT_REFRESH"), function (data) {
        if (data != null) {
            var maps = data[channelType];
            $('#' + divObj).html("");
            var content = '';
            for (var i in maps) {
                content = '<div class="goods cf">' + '<a class="avatar"  href="/board/share/' + maps[i].userId + '/' + maps[i].boardId + '/' + maps[i].sharePicId + '"><img src="' + maps[i].picUrl + '"></a>' + '<div class="profile">' + '<p class="desc"><a  class="linksgray" href="/board/share/' + maps[i].userId + '/' + maps[i].boardId + '/' + maps[i].sharePicId + '">' + maps[i].description + '</a></p>' + '<p class="blue f14 b">';
                var title = maps[i].title;
                if (title != "") {
                    content += '￥' + maps[i].title + '';
                }
                content += '</p>' + '</div>' + '<span style="position: absolute; right:10px;top:-28px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>' + '<a href="javascript:;" class="button favourite-btn png" boardId="' + maps[i].boardId + '" boardPicUserId="' + maps[i].boardPicUserId + '" sharePicId="' + maps[i].boardPicId + '" to="' + maps[i].sharePicId + '">收集</a>' + '<span class="count gray"';
                var shareCount = parseInt(maps[i].shareCount);
                if (shareCount <= 0) {
                    content += 'style="display:none"';
                }
                content += '>';
                content += '<span class="orange js-share-count">';
                if (shareCount > 0) {
                    content += shareCount;
                }
                content += '</span>&nbsp;人已收集' + '</span>' + '<span class="arrow"></span>' + '</div>' + '<div class="commentlist">' + '<ul>';
                var lists = maps[i].indexRecommends;
                for (var j = 0, len = lists.length; j < len; j++) {
                    if (j > 1) continue;
                    content += '<li class="cf">' + '<a class="avatar" usercard="' + lists[j].userId + '" havecard="1" href="/profile/' + lists[j].userId + '" ><img src="' + lists[j].picUrl + '"></a>' + '<div class="comment">' + '<a class="username" " usercard="' + lists[j].userId + '" havecard="1" href="/profile/' + lists[j].userId + '">' + lists[j].title + '</a>：' + lists[j].description + '' + '</div>' + '</li>';
                }
                content += '</ul>' + '<div class="more">';
                var commentCount = parseInt(maps[i].commentCount);
                if (commentCount > 0) {
                    content += '<a href="/share/' + i + '" >查看' + commentCount + '条评论</a>';
                }
                content += '</div>' + '</div>';
                $('#' + divObj).append(content);
            }
        }
    });
    try {
        _gaq.push(['_trackPageview', "/i_" + ref + "_comment/"]);
    } catch (e) {}
});
$("a[name='shopping_refresh']").live("click", function () {
    var ref = $(this).attr("ref");
    var ulObj = ref + "_wishlist";
    var channelType = "";
    if (ref == 'man') {
        channelType = 'm_recommend_shopping_random';
    } else if (ref == 'women') {
        channelType = 'f_recommend_shopping_random';
    } else if (ref == 'house') {
        channelType = 'h_recommend_shopping_random';
    }
    $.get(uri("URI_INDEX_SHOPPING_REFRESH"), function (data) {
        if (data != null) {
            var lists = data[channelType];
            $('#' + ulObj).html("");
            var content = '';
            for (var i = 0, len = lists.length; i < len; i++) {
                content = '<li class="cf">' + '<a class="avatar" href="/share/' + lists[i].id + '"  ><img src="' + lists[i].picTiny + '"></a>' + '<div class="profile gray">' + '<p class="desc" style="height:36px;overflow:hidden;"><a href="/share' + lists[i].id + '"   class="linksgray">' + lists[i].titleHtmlEscape + '</a></p>' + '<p>';
                var price = lists[i].price;
                if (price > 0) {
                    content += '<span class="orange">' + price + '&nbsp;人想买</span>';
                }
                content += '</p>' + '</div>' + '</li>';
                $('#' + ulObj).append(content);
            }
        }
    });
    try {
        _gaq.push(['_trackPageview', "/i_" + ref + "_shopping/"]);
    } catch (e) {}
});
$('#exchange_refresh').live("click", function () {
    $.get(uri("URI_INDEX_EXCHANGE_REFRESH"), function (data) {
        if (data.length) {
            $('#imJsExchange').html("");
            for (var i = 0, len = data.length; i < len; i++) {
              content='';
              $('#imJsExchange').append(content);
            }
        }
    });
    try {
        _gaq.push(['_trackPageview', "/i_exchange/"]);
    } catch (e) {}
});
$('#zhimei_star_refresh').live("click", function () {
    $.get(uri("URI_INDEX_ZHIMEI_STAR_REFRESH"), {except_id:'<%= @hottest_user.id %>'}, function (data) {
      $('#zhimei_star_ul').html(data);
    }, 'html');
    try {
        _gaq.push(['_trackPageview', "/i_zhimei_star/"]);
    } catch (e) {}
});
$('.hotbutton').live("click", function () {
    var loginUserId = <%=raw current_user ? current_user.id.to_s.to_json : 0 %>;
    var follow = $(this).attr("follow");
    var followed = $(this).attr("followed");
    if (loginUserId == 0) {
        im.zm.login(uri("URI_USER", followed));
        $("#loginLayout").definedDialog("open");
        return;
    }
    if (eval(follow) == true) {
        postUrl = uri("URI_FANS_UNFOLLOW_USER", followed);
    } else {
        postUrl = uri("URI_FANS_ADD_FOLLOW_USER", followed);
    }
    if (eval(follow) == true) {
        $.ajax({
            type: "POST",
            url: postUrl,
            dataType: "json",
            success: function (data) {
                $("#" + followed).text("关注");
                $("#" + followed).removeClass();
                $("#" + followed).addClass("hotbutton follow-btn");
                $("#" + followed).attr("follow", false);
            }
        });
    } else {
        $.ajax({
            type: "POST",
            url: postUrl,
            dataType: "json",
            success: function (data) {
                $("#" + followed).text("已关注");
                $("#" + followed).removeClass();
                $("#" + followed).addClass("hotbutton unfollow-btn");
                $("#" + followed).attr("follow", true);
            }
        });
    }
});
var timers1 = null,
    timers2 = null;
$(".favourite-btn").die().live("click", function () {
    var ajaxObj = $(this);
    var boardPicId = ajaxObj.attr("to");
    if (typeof loginUser.id == "undefined" || loginUser.id == "") {
        im.zm.login(uri("URI_BOARD_PIC", boardPicId));
        $("#loginLayout").definedDialog("open");
        return;
    }
    var likesNum = parseInt(ajaxObj.parent().parent().find(".js-share-count").text()) + 1;
    if (!likesNum) {
        likesNum = 1;
    }
    var sharePicId = ajaxObj.attr("sharePicId");
    var boardPicUserId = ajaxObj.attr("boardPicUserId");
    $.ajax({
        type: "POST",
        url: uri("URI_BOARD_PIC_RESHARE", boardPicId),
        dataType: 'json',
        data: {
            "boardPicId": boardPicId,
            "sharePicId": sharePicId,
            "toBoardId": 0,
            "boardPicUserId": boardPicUserId
        },
        success: function (data) {
            if (eval(data)) {
                if (null != data) {
                    if (data.result.ok != null) {
                        var result = data.result.ok;
                        if (result) {
                            var _par = ajaxObj.parent().parent();
                            ajaxObj.parent().parent().find(".js-share-count").html(likesNum);
                            var test = "收集成功";
                            ajaxObj.parent().find("em").html(test);
                            ajaxObj.parent().find(".js-favouriteTips").show();
                            setTimeout(function () {
                                ajaxObj.parent().find(".js-favouriteTips").hide();
                            }, 1000);
                            if (likesNum > 0) {
                                if (ajaxObj.parent().parent().find(".js-share-count").parent().css("display") == "none") {
                                    ajaxObj.parent().parent().find(".js-share-count").parent().show();
                                }
                            } else {
                                _par.find(".likeNum").parent().hide();
                            }
                        } else {
                            if (data.result.errors) {
                                if (data.result.errors) {
                                    var test = "已收集过";
                                    ajaxObj.parent().find("em").html(test);
                                    ajaxObj.parent().find(".js-favouriteTips").find("span").removeClass("smstrue").addClass("smserror");
                                    ajaxObj.parent().find(".js-favouriteTips").show();
                                    setTimeout(function () {
                                        ajaxObj.parent().find(".js-favouriteTips").hide();
                                    }, 1000);
                                }
                            }
                        }
                    }
                }
            }
        }
    });
});
$('#imJsExchange > li').hover(function () {
    $(this).find('.showtips').stop(true, true).animate({
        height: '67px'
    }, 200);
}, function () {
    $(this).find('.showtips').stop(true, true).animate({
        height: '22px'
    }, 200);
});
im.zm.autoImg.init({
    width: 222,
    ele: $("#zmjs-smallbanner"),
    index: 0,
    objNum: $('#zmjs-smallbanner-bt a'),
    curClass: 'curImg'
});

<% end %>
</script>

<div class="__sdk">
</div>




<%= render file:'/application/footers/_zm_footer' %>
