<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_hoth", :media => "all" %>
<% end %>
<% content_for :body_style do %>background: none repeat scroll 0 0 #F0EEEE<% end %>


<div class="__sdk">
  <section id="about" class="feature">
    <div class="wrapper">
      <div class="primary_info">
        <h1><em><%= image_tag 'h1.png',:alt => '轻松分享' %></em><br><%= image_tag 'h2.png',:alt => '讲义·电子书·复习资料·解题互助·课堂录像' %></h1>
        <p>
          <%= image_tag 'p.png',:alt => '通过课件交流系统，您可以迅速定位最感兴趣的课程，轻松获取大家共同维护的最优质的一份学习资料。然而，课件系统不仅是一个出色的学习资源交流平台，她更是一个开放的在线学习社区。在这里，您可以把遇到的难题发出来，大家共同切磋，也可以让大家为您的学习目标出谋划策。在这里，我们共同进步！' %>
        </p>
        <p><a href="<%=topics_path%>" id="loginhuge" class="button primary">第一步: 关注感兴趣的学科领域</a></p>
      </div>
      <div class="secondary_info">
        <div class="slide_frame">
          <script async class="speakerdeck-embed" data-course-slug="<%=@courseware.topic%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="1.3333333333333333" src="<%=asset_path 'ktv/embed.js'%>"></script>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render file:'/application/headers/_zm_header' %>

<div class="__zm">
<div class="notelayer" id="mainempty" style="display:none;">你关注的内容太少了，去<a href="/hot/" class="blue">热门频道</a>找找吧。</div>
<div id="pagewrap">
<!-- 风向标 -->
<div class="homenav modshadow cf">
<div class="sty-nav"><span class="bg tagnav">欢迎新成员：</span>
<a href="<%= user_path(@latest_user) %>"><%= truncate2(@latest_user.name,:length=>6) %></a>
</div>
<div class="category-nav bg vsplit cf">
<ul class="femail">
<li class="bg fmailicon"></li>
<% %w{数学 物理 化学 生物}.each do |name| %>
<li><a href="/topics/<%= Topic.get_id(name) %>"><%= name %></a></li>
<% end %>
</ul>
<ul class="life">
<li class="bg lifeicon"></li>
<% %w{计算机科学 电气工程 软件工程}.each do |name| %>
<li><a href="/topics/<%= Topic.get_id(name) %>"><%= name %></a></li>
<% end %>
</ul>
<ul class="life">
<li class="bg humanityicon"></li>
<% %w{经济学 历史 外语}.each do |name| %>
<li><a href="/topics/<%= Topic.get_id(name) %>"><%= name %></a></li>
<% end %>
</ul>
</div>
<div class="filter-nav bg vsplit">
<a href="http://www.zhimei.com/hot/?frm=newIndex">最热</a><a href="http://www.zhimei.com/all/?frm=newIndex">最新</a>
</div>
</div>
<!--banner begins-->
<div class="hotbanner" style="height:300px">
<div id="js-ad-show1">
<script type="text/javascript" charset="utf-8">
  <% content_for :butt2 do %>
  (function () {
      var adJson = [{
          "_id": {
              "$oid": "5008c2f00cf20f0fab77f183"
          },
          "name": "近世代数领域电子书",
          "link": "<%= courseware_path(Courseware.first) %>",
          "l": 1,
          "url": "<%= asset_path('ad/1342660139979.950.300.jpg') %>",
          "s": "20120720",
          "e": "20120726",
          "show": 1,
          "r": 1
      }, {
          "_id": {
              "$oid": "50075e320cf225f1b57f2ddf"
          },
          "name": "程序设计领域课件",
          "link": "<%= courseware_path(Courseware.first) %>",
          "l": 1,
          "url": "<%= asset_path('ad/1342751468132.950.300.jpg') %>",
          "s": "20120719",
          "e": "20120725",
          "show": 1,
          "r": 2
      }, {
          "_id": {
              "$oid": "50061a220cf225f1b57f2dc2"
          },
          "name": "微积分与数学分析",
          "link": "<%= courseware_path(Courseware.first) %>",
          "l": 1,
          "url": "<%= asset_path('ad/1342577163666.950.300.jpg') %>",
          "s": "20120718",
          "e": "20120725",
          "show": 1,
          "r": 3
      }, {
          "_id": {
              "$oid": "5004aeaa0cf240ad055802df"
          },
          "name": "邀请好友注册",
          "link": "<%= invite_users_path %>",
          "l": 1,
          "url": "<%= asset_path('ad/1342060797757.950.300.jpg') %>",
          "s": "20120717",
          "e": "20120723",
          "show": 1,
          "r": 4
      }];
      var aduri = "";
      var html = new Array();
      var slidebutton = new Array();
      html.push('<div class="bannerimg"  id="js-imgslide-1">');
      for (var i = 0; i < adJson.length; i++) {
          var json = adJson[i];
          html.push('<a class="js-ad-click"    href="');
          html.push(json.link);
          html.push('"  data-id="' + json._id.$oid);
          html.push('"><img src="' + aduri + json.url + '" border="0" style="cursor:pointer" /></a>');
          slidebutton.push('<li><a>' + json.name + '</a></li>');
      }
      html.push('<ul class="tag">' + slidebutton.join("") + '</ul>');
      html.push('</div>');
      $("#js-ad-show1").html(html.join(""));

      function statAd() {
          var imgObj = $("#js-imgslide-1");
          var id = imgObj.find(".imgBlock").parent("a").data("id");
          if (id == undefined) {
              return;
          }
          if (imgObj.data(id)) {
              return;
          }
          imgObj.data(id, 1);
          var uri = "http://nb.zhimei.com/nb/adstat?id=" + id + "&f=show";
          var img = new Image(0, 0);
          img.src = uri;
          img.onload = function () {};
      };
      im(function () {
          $("#js-imgslide-1").doImages({
              imgs: $("#js-imgslide-1 img"),
              thumbs: $("#js-imgslide-1 >ul>li>a"),
              num: 0,
              thumbsClass: "current",
              auto: true,
              stat: statAd,
              time: 5000
          });
      });
      /**end**/
  })();
  <% end %>
</script>
</div>
<!-- changes start -->	
<div class="description png">
<ul class="gray png">

<li class="png">				
<h3 class="ttname aligncenter"><span class="yahe"><a href="http://www.zhimei.com/saving/zm/task/35" >复习资料</a></span></h3>		
<p class="aligncenter"><a href="http://www.zhimei.com/saving/zm/task/35" class="gray" >收集课件轻松搞定考前复习</a></p>
</li>

<li class="png">				
<h3 class="ttname aligncenter"><span class="yahe"><a href="http://www.zhimei.com/tagChannel/271/65/470/m/" >课堂录像</a></span></h3>		
<p class="aligncenter"><a href="http://www.zhimei.com/tagChannel/271/65/470/m/" class="gray" >帮你挑选出最值得投入时间去听的课</a></p>
</li>

<li class="png">				
<h3 class="ttname aligncenter"><span class="yahe"><a href="http://www.zhimei.com/tagChannel/272/112/323/f/" >电子书</a></span></h3>		
<p class="aligncenter"><a href="http://www.zhimei.com/tagChannel/272/112/323/f/" class="gray" >最全的学术电子书资源集散地</a></p>
</li>
	
<li class="png">

<p class="aligncenter"><a href="<%= new_courseware_path %>" class="gray" id="core_addcw2">与大家分享课件？猛击这里！</a></p>
<p class="aligncenter"><a href="<%= new_ask_path %>" class="gray" id="core_addtext2">把你的难题发出来，与大家切磋吧！</a></p>
<% content_for :butt2 do %>
$('#core_addtext2').click(function(){return Asks.addAsk()});
$('#core_addcw2').click(function(){return KTV.addCW()});
<% end %>
</li>		
</ul>
</div>
<!-- changes end -->
<div class="bottom"></div>
</div>
<!--end-->
<div class="likenum">
<div class="padding-top cf" style="padding-top:10px">
<span class="floatright" style="padding-top:3px">
<iframe width="136" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=136&height=24&uid=1947145061&style=2&btn=red&dpc=1"></iframe>
<iframe id=review height=27 width="150" marginheight=0 src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&name=zhimeicom&style=4&t=<%= Time.now.to_i %>&f=1" frameborder=0 width=182 allowtransparency marginwidth=0 scrolling=auto></iframe>
</span>
<a href="<%= new_courseware_path %>" class="icon addme png">轻松分享上传课件</a>
<a href="<%= coursewares_path %>" class="icon shareme png" >下载大家分享的学习资料</a>
<a href="<%= asks_path %>" class="icon likeme png" >解题互助，结交朋友</a>
</div>
</div>
<!--banner ends-->
<div id="content">
<div class="boxnoun cf">
<div class="foreign-rec">
<h2 class="itemhead"><span class="greenline size_1"><span class="item-title"><b class="blue">最受欢迎的</b>课件作者</span></span></h2>
<div class="bigshow">
<a href="<%= user_path(@hottest_user) %>" ><img src="<%= avatar_url(@hottest_user,:huge) %>" /></a>
</div>
<div class="taright">
  <h3 class="ttname" style="line-height: 1">
      <a href="<%= user_path(@hottest_user) %>" ><span class="yahe blue bigtitle" style="color:#1D8B74;"><%= @hottest_user.name %></span></a>
      <%= renzheng_teacher(@hottest_user) %>
		  <% if (current_user and current_user.followed?(@hottest_user)) %>
      <a follow="true" followed="<%= @hottest_user.id %>" id="<%= @hottest_user.id %>" class="hotbutton unfollow-btn">已关注</a>
      <% else %>
      <a class="hotbutton follow-btn" id="<%= @hottest_user.id %>" followed="<%= @hottest_user.id %>" follow="false">关注</a>
      <% end %>
  </h3>
  <p>
      <a href="<%= user_path @hottest_user %>" class="gray" >
        <%= @hottest_user.bio_plain %>
      </a>
      
  </p>
  <h3 class="ttname" style="line-height: 1">
      <span class="yahe">课件选集 (<a href="<%= user_path @hottest_user %>">共有课件 <span class=“orange"><%= @hottest_user.coursewares_count%></span> 个)</a></span>
  </h3>
  
<ul class="cf">
<% @hottest_user.coursewares.desc('views_count').limit(5).each do |item| %>
<li><a href="<%= courseware_path item %>" ><%= item.title %></a> (<span class="orange"><%=number_with_delimiter  item.views_count %></span>&nbsp;点击)</li>
<% end %>
</ul>
</div>
</div>
<div class="site-rec">
<h2 class="itemhead"><span class="more"><a id="zhimei_star_refresh" class="rotationbody" href="javascript:void(0)"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a>&nbsp;&nbsp;<a href="<%=  %>">更多&#8250;&#8250;</a></span><span class="greenline size_2"><span class="item-title"><b class="blue">领域</b>达人</span></span></h2>
<ul id="zhimei_star_ul">

<li class=" cf">
<div class="uhead"><a href="/profile/340027" havecard="1" usercard="340027" ><img src="http://b8.imimg.cn/20120404/ca16/175c/29829853975.2.60.60.jpg" /></a></div>
<div class="usay">
<p class="desc"><a class="username" havecard="1" usercard="340027" href="/profile/340027">jk先生</a>：<a href="/profile/340027" class="gray" >设计师出身，后投身时尚产业。非典型时尚思想者、包包控...</a></p>
<p>

<a class="hotbutton follow-btn" id="340027" followed="340027" follow="false">关注</a>

</p>
</div>
</li>				

<li class=" cf">
<div class="uhead"><a href="/profile/1175447" havecard="1" usercard="1175447" ><img src="http://b3.imimg.cn/20120710/797e/1f8e/90547863550.2.60.60.jpg" /></a></div>
<div class="usay">
<p class="desc"><a class="username" havecard="1" usercard="1175447" href="/profile/1175447">搞搞阵的乐然仔</a>：<a href="/profile/1175447" class="gray" >平面设计师一名。自大狂，偏执狂，搞怪狂，喜欢一...</a></p>
<p>

<a class="hotbutton follow-btn" id="1175447" followed="1175447" follow="false">关注</a>

</p>
</div>
</li>				

<li class=" cf">
<div class="uhead"><a href="/profile/20640" havecard="1" usercard="20640" ><img src="http://b0.imimg.cn/20120719/15d6/4792/76007964456.2.60.60.jpg" /></a></div>
<div class="usay">
<p class="desc"><a class="username" havecard="1" usercard="20640" href="/profile/20640">ala她妈</a>：<a href="/profile/20640" class="gray" >生性浪漫的双鱼座，梦想很多，却深知只有幻想是不够的...</a></p>
<p>

<a class="hotbutton follow-btn" id="20640" followed="20640" follow="false">关注</a>

</p>
</div>
</li>				

<li class="none cf">
<div class="uhead"><a href="/profile/360191" havecard="1" usercard="360191" ><img src="http://b1.imimg.cn/20120703/6e78/e6e8/8065298357.2.60.60.jpg" /></a></div>
<div class="usay">
<p class="desc"><a class="username" havecard="1" usercard="360191" href="/profile/360191">咩miemie_</a>：<a href="/profile/360191" class="gray" >极度神经质水瓶女，超级裙子控，网购女王！对于...</a></p>
<p>

<a class="hotbutton follow-btn" id="360191" followed="360191" follow="false">关注</a>

</p>
</div>
</li>				
				
</ul>
</div>
</div>
<!--end-->
<div class="gather-item cf">
<h2 class="itemhead"><span class="more"><a id="recommend_refresh" class="rotationbody" href="javascript:void(0)"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a> <a href="/hot/recommend/">更多&#8250;&#8250;</a></span><span class="greenline size_3"><span class="item-title"><b class="blue">最热</b>课件</span></span></h2>
<ul id="recommend_ul" class="cf">

<li >
<div class="showimg"><a href="/board/share/480141/7154680/5070440" ><img src="http://b.imimg.cn//index/2012/0721/1342878358934.140.140.jpg" /></a></div>
<div class="showsay">
<p class="summary"><a href="/board/share/480141/7154680/5070440" class="gray" ><span style="color:#333333;font-weight:bold;">静jingjing</span> 推荐<br><font color=#1d8b74>￥229</font><br>拼色果冻包，颜色很透亮，款式很简洁大牌。</a></p>
<p class="num"><span class="blue js-share-count">82</span> 个收集 </p>
<p class="relative">
<span style="position: absolute; left: 0pt; top: -33px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>
<a class="button favourite-btn"  boardId = "7154680" boardPicUserId = "480141" sharePicId="1061969" to="5070440">收集</a>
</p>
</div>
</li>

<li >
<div class="showimg"><a href="/board/share/1078659/5669491/5051647" ><img src="http://b.imimg.cn//index/2012/0721/1342880933877.140.140.jpg" /></a></div>
<div class="showsay">
<p class="summary"><a href="/board/share/1078659/5669491/5051647" class="gray" ><span style="color:#333333;font-weight:bold;">小滕子</span> 推荐<br><font color=#1d8b74>￥260</font><br>分体泳衣，超显胸型，好身材MM别错过。</a></p>
<p class="num"><span class="blue js-share-count">101</span> 个收集 </p>
<p class="relative">
<span style="position: absolute; left: 0pt; top: -33px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>
<a class="button favourite-btn"  boardId = "5669491" boardPicUserId = "1078659" sharePicId="1056563" to="5051647">收集</a>
</p>
</div>
</li>

<li class="last">
<div class="showimg"><a href="/board/share/340027/2289983/5150144" ><img src="http://b.imimg.cn//index/2012/0721/1342878178797.140.140.jpg" /></a></div>
<div class="showsay">
<p class="summary"><a href="/board/share/340027/2289983/5150144" class="gray" ><span style="color:#333333;font-weight:bold;">jk先生</span> 推荐<br><font color=#1d8b74>￥440</font><br>多彩背包，明快颜色的英伦气质。</a></p>
<p class="num"><span class="blue js-share-count">61</span> 个收集 </p>
<p class="relative">
<span style="position: absolute; left: 0pt; top: -33px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>
<a class="button favourite-btn"  boardId = "2289983" boardPicUserId = "340027" sharePicId="1086889" to="5150144">收集</a>
</p>
</div>
</li>

<li >
<div class="showimg"><a href="/board/share/127049/508907/5119592" ><img src="http://b.imimg.cn//index/2012/0721/1342881477256.140.140.jpg" /></a></div>
<div class="showsay">
<p class="summary"><a href="/board/share/127049/508907/5119592" class="gray" ><span style="color:#333333;font-weight:bold;">guoguoqian</span> 推荐<br><font color=#1d8b74>￥69</font><br>蝴蝶结后露背蕾丝衫，淑女的魅惑气息。</a></p>
<p class="num"><span class="blue js-share-count">79</span> 个收集 </p>
<p class="relative">
<span style="position: absolute; left: 0pt; top: -33px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>
<a class="button favourite-btn"  boardId = "508907" boardPicUserId = "127049" sharePicId="1074540" to="5119592">收集</a>
</p>
</div>
</li>

<li >
<div class="showimg"><a href="/board/share/20640/1161695/5050755" ><img src="http://b.imimg.cn//index/2012/0721/1342879975227.140.140.jpg" /></a></div>
<div class="showsay">
<p class="summary"><a href="/board/share/20640/1161695/5050755" class="gray" ><span style="color:#333333;font-weight:bold;">ala她妈</span> 推荐<br><font color=#1d8b74>￥240</font><br>背后镂空小西装，穿外套照样秀美背。</a></p>
<p class="num"><span class="blue js-share-count">58</span> 个收集 </p>
<p class="relative">
<span style="position: absolute; left: 0pt; top: -33px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>
<a class="button favourite-btn"  boardId = "1161695" boardPicUserId = "20640" sharePicId="1056440" to="5050755">收集</a>
</p>
</div>
</li>

<li class="last">
<div class="showimg"><a href="/board/share/212563/1169399/5076551" ><img src="http://b.imimg.cn//index/2012/0721/1342878223904.140.140.jpg" /></a></div>
<div class="showsay">
<p class="summary"><a href="/board/share/212563/1169399/5076551" class="gray" ><span style="color:#333333;font-weight:bold;">damonwong</span> 推荐<br><font color=#1d8b74>￥1592</font><br>小马哥的牛津布衬衣，清爽的夏日粉蓝。</a></p>
<p class="num"><span class="blue js-share-count">62</span> 个收集 </p>
<p class="relative">
<span style="position: absolute; left: 0pt; top: -33px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>
<a class="button favourite-btn"  boardId = "1169399" boardPicUserId = "212563" sharePicId="1062691" to="5076551">收集</a>
</p>
</div>
</li>
			
</ul>
</div>
<!--end-->
</div>
<!--end -->
</div>

<div style="width:100%;height:28px"></div>

<script type="text/javascript">
<% content_for :butt2 do %>
function moveImgs(parentObj, n, w) {
    var subObj = parentObj.find("li");
    if (subObj.size() < n + 1) {
        return;
    }
    if (subObj.eq(n - 1).nextAll().size() < n) {
        var t = n - subObj.eq(n - 1).nextAll().size();
        for (var i = 0; i < t; i++) {
            $("<li class='cf'>" + subObj.eq(i).html() + "</li>").appendTo(parentObj);
        }
    }
    setInterval(function () {
        var subObj = parentObj.find("li");
        parentObj.stop(true, true).animate({
            left: "-=" + w * n
        }, 1000, function () {
            for (var i = 0; i < n; i++) {
                $("<li class='cf'>" + subObj.eq(i).html() + "</li>").appendTo(parentObj);
            }
            subObj.eq(n).prevAll().remove();
            parentObj.css({
                left: 0
            });
        });
    }, 5000);
}
$(function () {
    moveImgs($("#js_task2"), 3, 224);
    var groupId = 1;
    $('#recommend_refresh').live("click", function () {
        var ulObj = "recommend_ul";
        groupId = parseInt(groupId) + 1;
        var prefix = 'http://b.imimg.cn';
        var total = '10';
        var todayFocusTotal = parseInt(total);
        if (groupId > todayFocusTotal) {
            groupId = 1;
        }
        $.get(uri("URI_INDEX_RECOMMEND_REFRESH", groupId), function (data) {
            if (data.length) {
                $('#' + ulObj).html("");
                var content = '';
                for (var i = 0, len = data.length; i < len; i++) {
                    var liStyle = "";
                    if (i == 2 || i == 5) {
                        liStyle = 'last';
                    }
                    content = '<li' + liStyle + '>' + '<div class="showimg"><a href="/board/share/' + data[i].userId + '/' + data[i].boardId + '/' + data[i].boardPicId + '" ><img src="' + prefix + '/' + data[i].picUrl + '" /></a></div>' + '<div class="showsay">' + '<p class="summary"><a href="/board/share/' + data[i].userId + '/' + data[i].boardId + '/' + data[i].boardPicId + '" class="gray" >' + data[i].description + '</a></p>' + '<p class="num"><span class="blue js-share-count">' + data[i].shareCount + '</span> 个收集 </p>' + '<p class="relative">' + '<span style="position: absolute; left: 0pt; top: -33px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>' + '<a class="button favourite-btn"  boardId =' + data[i].boardId + '" boardPicUserId ="' + data[i].boardPicUserId + '" sharePicId="' + data[i].sharePicId + '" to="' + data[i].boardPicId + '">收集</a>' + '</p>' + '</div>' + '</li>';
                    $('#' + ulObj).append(content);
                }
            }
        });
        try {
            _gaq.push(['_trackPageview', "/i_certify_user_recommend/"]);
        } catch (e) {}
    });
});
$("a[name='comment_refresh']").live("click", function () {
    var ref = $(this).attr("ref");
    var divObj = ref + "_share_comment";
    var channelType = "";
    if (ref == 'man') {
        channelType = 'm_recommend_comment_random';
    } else if (ref == 'women') {
        channelType = 'f_recommend_comment_random';
    } else if (ref == 'house') {
        channelType = 'h_recommend_comment_random';
    }
    $.get(uri("URI_INDEX_COMMENT_REFRESH"), function (data) {
        if (data != null) {
            var maps = data[channelType];
            $('#' + divObj).html("");
            var content = '';
            for (var i in maps) {
                content = '<div class="goods cf">' + '<a class="avatar"  href="/board/share/' + maps[i].userId + '/' + maps[i].boardId + '/' + maps[i].sharePicId + '"><img src="' + maps[i].picUrl + '"></a>' + '<div class="profile">' + '<p class="desc"><a  class="linksgray" href="/board/share/' + maps[i].userId + '/' + maps[i].boardId + '/' + maps[i].sharePicId + '">' + maps[i].description + '</a></p>' + '<p class="blue f14 b">';
                var title = maps[i].title;
                if (title != "") {
                    content += '￥' + maps[i].title + '';
                }
                content += '</p>' + '</div>' + '<span style="position: absolute; right:10px;top:-28px;display:none;" class="js-favouriteTips"><span class="smstips smstrue"><em class="smstips"></em></span></span>' + '<a href="javascript:;" class="button favourite-btn png" boardId="' + maps[i].boardId + '" boardPicUserId="' + maps[i].boardPicUserId + '" sharePicId="' + maps[i].boardPicId + '" to="' + maps[i].sharePicId + '">收集</a>' + '<span class="count gray"';
                var shareCount = parseInt(maps[i].shareCount);
                if (shareCount <= 0) {
                    content += 'style="display:none"';
                }
                content += '>';
                content += '<span class="orange js-share-count">';
                if (shareCount > 0) {
                    content += shareCount;
                }
                content += '</span>&nbsp;人已收集' + '</span>' + '<span class="arrow"></span>' + '</div>' + '<div class="commentlist">' + '<ul>';
                var lists = maps[i].indexRecommends;
                for (var j = 0, len = lists.length; j < len; j++) {
                    if (j > 1) continue;
                    content += '<li class="cf">' + '<a class="avatar" usercard="' + lists[j].userId + '" havecard="1" href="/profile/' + lists[j].userId + '" ><img src="' + lists[j].picUrl + '"></a>' + '<div class="comment">' + '<a class="username" " usercard="' + lists[j].userId + '" havecard="1" href="/profile/' + lists[j].userId + '">' + lists[j].title + '</a>：' + lists[j].description + '' + '</div>' + '</li>';
                }
                content += '</ul>' + '<div class="more">';
                var commentCount = parseInt(maps[i].commentCount);
                if (commentCount > 0) {
                    content += '<a href="/share/' + i + '" >查看' + commentCount + '条评论</a>';
                }
                content += '</div>' + '</div>';
                $('#' + divObj).append(content);
            }
        }
    });
    try {
        _gaq.push(['_trackPageview', "/i_" + ref + "_comment/"]);
    } catch (e) {}
});
$("a[name='shopping_refresh']").live("click", function () {
    var ref = $(this).attr("ref");
    var ulObj = ref + "_wishlist";
    var channelType = "";
    if (ref == 'man') {
        channelType = 'm_recommend_shopping_random';
    } else if (ref == 'women') {
        channelType = 'f_recommend_shopping_random';
    } else if (ref == 'house') {
        channelType = 'h_recommend_shopping_random';
    }
    $.get(uri("URI_INDEX_SHOPPING_REFRESH"), function (data) {
        if (data != null) {
            var lists = data[channelType];
            $('#' + ulObj).html("");
            var content = '';
            for (var i = 0, len = lists.length; i < len; i++) {
                content = '<li class="cf">' + '<a class="avatar" href="/share/' + lists[i].id + '"  ><img src="' + lists[i].picTiny + '"></a>' + '<div class="profile gray">' + '<p class="desc"><a href="/share' + lists[i].id + '"   class="linksgray">' + lists[i].titleHtmlEscape + '</a></p>' + '<p>';
                var price = lists[i].price;
                if (price > 0) {
                    content += '<span class="orange">' + price + '&nbsp;人想买</span>';
                }
                content += '</p>' + '</div>' + '</li>';
                $('#' + ulObj).append(content);
            }
        }
    });
    try {
        _gaq.push(['_trackPageview', "/i_" + ref + "_shopping/"]);
    } catch (e) {}
});
$('#exchange_refresh').live("click", function () {
    $.get(uri("URI_INDEX_EXCHANGE_REFRESH"), function (data) {
        if (data.length) {
            $('#imJsExchange').html("");
            var content = '';
            var imgPrefix = 'http://b.imimg.cn';
            var areCoinName = '美币';
            for (var i = 0, len = data.length; i < len; i++) {
                content = '<li class="hotImg">' + '<a class="minilogo" href="javascript:;"></a>' + '<a href="/saving/' + data[i].savingGoods.subareaId + '/goods/' + data[i].savingGoods.id + '" >' + '<p class="showtips">' + data[i].savingGoods.goodsName + '<br>市场价：¥' + data[i].savingGoods.exchangePrice + '<span class="orange b">' + data[i].savingGoods.referPrice + '</span>' + areCoinName + ' &nbsp;可免费兑换' + '</p>' + '<img src="' + imgPrefix + data[i].savingGoods.picMainUrl + '" width="160px" height="160px" />' + '</a>' + '</li>';
                $('#imJsExchange').append(content);
            }
        }
    });
    try {
        _gaq.push(['_trackPageview', "/i_exchange/"]);
    } catch (e) {}
});
$('#zhimei_star_refresh').live("click", function () {
    $.get(uri("URI_INDEX_ZHIMEI_STAR_REFRESH"), function (data) {
        if (data.length) {
            $('#zhimei_star_ul').html("");
            var content = '';
            for (var i = 0, len = data.length; i < len; i++) {
                if (i == 3) {
                    content = '<li class="none cf">';
                } else {
                    content = ' <li class="cf">';
                }
                content += '<div class="uhead">' + ' 			<a href="/profile/' + data[i].userId + '" havecard="1" usercard="' + data[i].userId + '" >' + ' 				<img src="' + data[i].picUrl + '" />' + ' 			</a>' + ' 		</div>  ' + ' 		<div class="usay">' + ' 			<p><a class="username" havecard="1" usercard="' + data[i].userId + '" href="/profile/' + data[i].userId + '">' + data[i].title + '</a>：<a href="/profile/' + data[i].userId + '" class="gray" >' + data[i].description + '</a></p>' + ' 			<p>';
                if (eval(data[i].follow) == true) {
                    content += '<a class="hotbutton unfollow-btn" id="' + data[i].userId + '" followed="' + data[i].userId + '" follow="true">已关注</a>';
                } else {
                    content += '<a class="hotbutton follow-btn" id="' + data[i].userId + '" followed="' + data[i].userId + '" follow="false">关注</a>';
                }
                content += ' 			</p>'; + ' 		</div>' + '</li>';
                $('#zhimei_star_ul').append(content);
            }
        }
    }, "json");
    try {
        _gaq.push(['_trackPageview', "/i_zhimei_star/"]);
    } catch (e) {}
});
$('.hotbutton').live("click", function () {
    var loginUserId = <%=raw current_user ? current_user.id.to_s.to_json : 0 %>;
    var follow = $(this).attr("follow");
    var followed = $(this).attr("followed");
    if (loginUserId == 0) {
        im.zm.login(uri("URI_USER", followed));
        $("#loginLayout").definedDialog("open");
        return;
    }
    if (eval(follow) == true) {
        postUrl = uri("URI_FANS_UNFOLLOW_USER", followed);
    } else {
        postUrl = uri("URI_FANS_ADD_FOLLOW_USER", followed);
    }
    if (eval(follow) == true) {
        $.ajax({
            type: "POST",
            url: postUrl,
            dataType: "json",
            success: function (data) {
                $("#" + followed).text("关注");
                $("#" + followed).removeClass();
                $("#" + followed).addClass("hotbutton follow-btn");
                $("#" + followed).attr("follow", false);
            }
        });
    } else {
        $.ajax({
            type: "POST",
            url: postUrl,
            dataType: "json",
            success: function (data) {
                $("#" + followed).text("已关注");
                $("#" + followed).removeClass();
                $("#" + followed).addClass("hotbutton unfollow-btn");
                $("#" + followed).attr("follow", true);
            }
        });
    }
});
var timers1 = null,
    timers2 = null;
$(".favourite-btn").die().live("click", function () {
    var ajaxObj = $(this);
    var boardPicId = ajaxObj.attr("to");
    if (typeof loginUser.id == "undefined" || loginUser.id == "") {
        im.zm.login(uri("URI_BOARD_PIC", boardPicId));
        $("#loginLayout").definedDialog("open");
        return;
    }
    var likesNum = parseInt(ajaxObj.parent().parent().find(".js-share-count").text()) + 1;
    if (!likesNum) {
        likesNum = 1;
    }
    var sharePicId = ajaxObj.attr("sharePicId");
    var boardPicUserId = ajaxObj.attr("boardPicUserId");
    $.ajax({
        type: "POST",
        url: uri("URI_BOARD_PIC_RESHARE", boardPicId),
        dataType: 'json',
        data: {
            "boardPicId": boardPicId,
            "sharePicId": sharePicId,
            "toBoardId": 0,
            "boardPicUserId": boardPicUserId
        },
        success: function (data) {
            if (eval(data)) {
                if (null != data) {
                    if (data.result.ok != null) {
                        var result = data.result.ok;
                        if (result) {
                            var _par = ajaxObj.parent().parent();
                            ajaxObj.parent().parent().find(".js-share-count").html(likesNum);
                            var test = "收集成功";
                            ajaxObj.parent().find("em").html(test);
                            ajaxObj.parent().find(".js-favouriteTips").show();
                            setTimeout(function () {
                                ajaxObj.parent().find(".js-favouriteTips").hide();
                            }, 1000);
                            if (likesNum > 0) {
                                if (ajaxObj.parent().parent().find(".js-share-count").parent().css("display") == "none") {
                                    ajaxObj.parent().parent().find(".js-share-count").parent().show();
                                }
                            } else {
                                _par.find(".likeNum").parent().hide();
                            }
                        } else {
                            if (data.result.errors) {
                                if (data.result.errors) {
                                    var test = "已收集过";
                                    ajaxObj.parent().find("em").html(test);
                                    ajaxObj.parent().find(".js-favouriteTips").find("span").removeClass("smstrue").addClass("smserror");
                                    ajaxObj.parent().find(".js-favouriteTips").show();
                                    setTimeout(function () {
                                        ajaxObj.parent().find(".js-favouriteTips").hide();
                                    }, 1000);
                                }
                            }
                        }
                    }
                }
            }
        }
    });
});
$('#imJsExchange > li').hover(function () {
    $(this).find('.showtips').stop(true, true).animate({
        height: '67px'
    }, 200);
}, function () {
    $(this).find('.showtips').stop(true, true).animate({
        height: '22px'
    }, 200);
});
im.zm.autoImg.init({
    width: 222,
    ele: $("#zmjs-smallbanner"),
    index: 0,
    objNum: $('#zmjs-smallbanner-bt a'),
    curClass: 'curImg'
});

<% end %>
</script>


<%= render file:'/application/footers/_flo_footer' %>
