<div class="__zm">
<div id="header" style="position:static">

    <div class="headerContainer cf" id="zm_header">


    <div class="navigator yahe cf">
    <ul>
      <li class="<%= 'current' if latest_coursewares_path==request.path %>"><a href="<%= latest_coursewares_path %>">最新上传</a></li>
<li class="dot"></li>
      <li class="<%= 'current' if topics_path==request.path %>"><a href="<%= topics_path %>">学科领域</a></li>
<li class="dot"></li>
      <li class="<%= 'current' if users_path==request.path %>"><a href="<%= users_path %>">全部老师</a></li>
<li class="dot"></li>
      <li class="<%= 'current' if schools_path==request.path %>"><a href="<%= schools_path %>">全部学校</a></li>
<li class="dot"></li>
      <li class="<%= 'current' if home_index_path==request.path %>"><a href="<%= home_index_path %>">解题互助</a></li>
    </ul>
    </div>
    </div>
    <% content_for :butt2 do %>
    // 用于添加新资源
    im("#addBs").die().live("click", function () {
        openAddDialog(this);
    });
    im.zm.fnDropmenu($('#header li'), 'navhover'); //导航菜单实现
    <% end %>
</div>
</div>