<section id="buttons">
  <div class="page-header">
    <h1>用户认证功能演示</h1>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width:150px">功能</th>
        <th>介绍</th>
        <th>地址</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><button class="btn" href="<%= SERVER_endpoint %>/oauth/authorization?response_type=code&scope=all&client_id=<%= CLIENT_client_id %>&redirect_uri=<%= CLIENT_redirect %>" class="">获取授权码</button></td>
        <td>这个主要是针对欲访问问道API的服务器端web应用程序，这种情况下需要两个步骤，第一个步骤是，您的应用程序需要向着用户询问获取他们数据的权限。如果用户同意，客户端将收到一个授权码。第二个步骤是客户端将带着授权码以及（以前注册应用程序的时候获得的）访问密钥去问道的服务器上获取访问令牌。</td>
        <td><a href="http://wendao.zhaopin.com"><%= SERVER_endpoint %>/oauth/authorization?response_type=code&scope=all&client_id=<%= CLIENT_client_id %>&redirect_uri=<%= CLIENT_redirect %></a></td>
      </tr>
      <tr>
        <td></td>
        <td>上一步如果成功，亦即，用户同意访问我们的应用访问他的资源，那么问道将跳转到我们的应用所制定的回调地址，在这个实例里面，这个地址是http://wendao.ofpsvr.org/redirect_receive?code=<授权码>。</td>
        <td><a href="http://wendao.ofpsvr.org/redirect_receive?code=authorization_code">http://wendao.ofpsvr.org/redirect_receive?code=authorization_code</a></td>
      </tr>

      <tr>
        <td></td>
        <td>如果我们走到这一步，那么我们手中已经有一个授权码。我们现在应该拿着授权码来换取访问令牌。我们通过向服务器端的`/oauth/token`去POST这些参数来实现：code=授权码、grant_type=authorization_code、client_id=客户端ID、client_secred=客户端密钥。</td>
        <td>此为POST请求，参见文档。</td>
      </tr>
      <tr>
        <td><button class="btn" href="/oauth_refresh" class="">刷新访问令牌</button></td>
        <td>当您的令牌过期，问道服务器将返回401响应。您可以通过向`/oauth/token`去POST带有如下参数的请求来获取新的令牌：grant_type=refresh_token、client_id=客户端ID、client_secred=客户端密钥。</td>
        <td>请点击按钮尝试此POST请求。</td>
      </tr>
    </tbody>
  </table>
</section>