<% content_for :butt2 do %>
KTV.data = {
  courseware_id: '<%=@courseware.id%>'
}
<% end %>
<div class="__sdk"><%# todo: 710px ..ratio %>
<section id="presentation" class="feature">
  <div class="wrapper">

    <% if @courseware.thin? %>
    <div class="extras" style="float:right;margin-left:12px">
      <%= render :partial => 'presenter', :locals => {user:@courseware.uploader} %>
    </div>
    <% end  %>
    
    <h1>
      <%if @cws%>第<%=@courseware.courseware_series_no%>集. <%end%>
      <%= @courseware.title %>
      <%if @cws%>
        <span style="font-size:16px;text-align:center">
        (
          <%= link_to('上一集',@cws.coursewares.where('courseware_series_no = ?', @courseware.courseware_series_no - 1).first.path)+' |' if @courseware.courseware_series_no - 1 > 0 %>
          <%= link_to('下一集',@cws.coursewares.where('courseware_series_no = ?', @courseware.courseware_series_no + 1).first.path)+' |' if @courseware.courseware_series_no + 1 <= @cws.coursewares_count %>
          <%=link_to "共#{@cws.coursewares_count}集",'#cws_list'%>
        )
        </span>
      <%end%>
      <% if owner? @courseware %>
        <a id="edit_presentation" class="grey" style="display:inline-block;" href="<%= edit_courseware_path(@courseware) %>">编辑课件</a>
      <% end %>
    </h1>

    <% if @courseware.thin? %>

    <div class="main" style="width:100%;margin-top:12px;">
        <div class="slide_frame" id="slides_container">
              <script async="async" class="speakerdeck-embed" data-course-slug="<%=@courseware.topic_id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
        </div>
    </div>

    <div class="extras" style="float:right;margin-right:0px">
      <ul class="delimited share" style="margin-bottom:0;border-top:none">
        <li class="download" style="border-top:none"><%=Courseware::SORTSTR[@courseware.sort]%>(<%=@courseware.down_pdf_size ? number_to_human_size(@courseware.down_pdf_size*1000,:precision=>1) : '大小未知' %>)<a target="_blank" href="<%= download_courseware_path(@courseware)%>">立即下载</a></li>
      </ul>
    </div>
    

    <div class="extras" style="float:right;margin-right:40px">
      <ul class="delimited share" style="margin-bottom:0;border-top:none">
        <li class="dianjiliang" style="border-top:none">点击量 <a href="#watch-view-count"><%= number_with_delimiter @courseware.views_count %> 次</a></li>
      </ul>
    </div>
    
    
    <div class="extras" style="float:right;margin-right:18px;margin-right:40px">
      <ul class="delimited" style="margin-bottom:0;border-top:none">
        <li class="like" style="border-top:none">
        <% unless current_user and @courseware.user_id==current_user.id%>
          <% if thank_courseware_ed?(@courseware) %>
            <a href="javascript:void(0)" class="unlike purple" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">已喜欢</a>
          <% else %>
            <a href="javascript:void(0)" class="like grey" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">我喜欢</a>
          <% end %>
        <% else %>
            <a href="javascript:void(0)" class="like grey">收到的喜欢</a>
        <% end %>
          <a href="#fans" class="likes"><span id="weizuozhefasongganxie2"><%= @courseware.thanked_count %></span> 喜欢</a>
        </li>

      </ul>
    </div>
    
    <div class="extras" style="float:right;margin-right:18px;margin-right:40px">
      <ul class="delimited" style="margin-bottom:0;border-top:none">
        <li class="category" style="border-top:none">领域 <a href="/topics/<%= @courseware.topic_id %>"><%= @courseware.topic %></a></li>
      </ul>
    </div>
    <div style="width:51%;float:left" class="extras">
      <h1><%=image_tag('zuozhe.png',alt:'课件原作者',style:'margin-top:16px;margin-bottom:4px')%></h1>
      <% style='width:50%;float:left' %>
      <%= render :partial => 'presenter', :locals => {user:@courseware.user, :style=>style} %>
    </div>
    <div style="width:49%;float:right;margin-top:-8px">
      <h6><%=image_tag('peixun2.png',alt:'相关线下培训')%></h6>
      <div class="ad" id="doc_ad0" style="height:100px">
        <p>
          <a id="doc_ad" target="_blank" href="http://vip.kuakao.com/mg/" style="background-image:url(<%= asset_path 'ad2.png' %>)"></a>
          <% content_for :butt2 do %>
            $('#doc_ad').mouseenter(function(){
              $('#doc_ad0').animate({height:$('#doc_ad0').height()+(187-80)},200);
              $(this).animate({height:187},200);
            }).mouseleave(function(){
              $('#doc_ad0').animate({height:100},200);
              $(this).animate({height:80},200);
            });
          <% end %>
        </p>
        <p>
          <a href="http://vip.kuakao.com/mg/" target="_blank">
跨考教育提供全日制住宿式2013年考研魔鬼训练营.
          </a>
        </p>
      </div>
    </div>
    
    <% else %>
    <div class="main">
        <div class="slide_frame" id="slides_container">

<% case @courseware.sort.to_sym %>
<% when :ppt,:pdf %>
          <script async="async" class="speakerdeck-embed" data-course-slug="<%=@courseware.topic_id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
<% when :webm %>
      <img src="/tmp1.png">
      <img src="/tmp2.png">
<% when :xunlei %>

      <script type="text/javascript" charset="utf-8">
        window.curUzreInfo = <%=raw Ktv::Xunlei.give_me_a_user.to_json %>;
      </script>

      <div class="player">
      <div id="XL_CLOUD_VOD_PLAYER" from="xlpan_default" style="width:100%;background:#000;height:604px">
      <img width="100%" src="http://vod.lixian.xunlei.com/img/player_startup.jpg">
      <a enable_openwindow="false" format="p" start="0" title="" filesize="" url="" cid="" enable_kkva="undefined" enable_setting="undefined" enable_filelist="undefined" enable_caption="undefined" enable_download="undefined" gcid="" share_url="<%= @courseware.path(:url => true) %>" autoplay="true" enable_panel="true" width="100%" href="<%= @courseware.xunlei_url %>">正在载入视频, 请稍等.</a>
      </div>
      <script type="text/javascript" charset="utf-8" src='<%= asset_path('s.player.js') %>'></script>
      </div>
<% when :youku %>
    <embed src="http://player.youku.com/player.php/sid/XMTczNDg4NzY0/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
<% end %>
        </div>
    </div>

    <div class="extras">
      <%= render :partial => 'presenter', :locals => {user:@courseware.uploader} %>

      <ul class="delimited">
          <li class="like">
        <% unless current_user and @courseware.user_id==current_user.id%>
          <% if thank_courseware_ed?(@courseware) %>
            <a href="javascript:void(0)" class="unlike purple" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">已喜欢</a>
          <% else %>
            <a href="javascript:void(0)" class="like grey" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">我喜欢</a>
          <% end %>
        <% else %>
            <a href="javascript:void(0)" class="like grey">收到的喜欢</a>
        <% end %>
            <a href="#fans" class="likes"><span id="weizuozhefasongganxie2"><%= @courseware.thanked_count %></span> 喜欢</a>
          </li>
        <li class="category">领域 <a href="/topics/<%= @courseware.topic_id %>"><%= @courseware.topic %></a></li>
        <li class="dianjiliang">点击量 <a href="#watch-view-count"><%= number_with_delimiter @courseware.views_count %> 次</a></li>
              </ul>
      <h1><%=image_tag('share.png',alt:'下载此课件')%></h1>
      <ul class="delimited share">
        <li class="download"><%=Courseware::SORTSTR[@courseware.sort]%>(<%=@courseware.down_pdf_size ? number_to_human_size(@courseware.down_pdf_size*1000,:precision=>1) : '大小未知' %>)<a target="_blank" href="<%= download_courseware_path(@courseware)%>">立即下载</a></li>
      </ul>
  <% unless @courseware.user_id==@courseware.uploader_id %>
      <h1><%=image_tag('zuozhe.png',alt:'课件原作者',style:'margin-top:26px;margin-bottom:4px')%></h1>
      <% style='margin-top:10px' %>
      <%= render :partial => 'presenter', :locals => {user:@courseware.user, :style=>style} %>
  <% end %>
      <h6><%=image_tag('peixun2.png',alt:'相关线下培训',style:'margin-top:28px')%></h6>
<div class="ad">
  <p>
    <a href="http://www.universaltraining.cn/peixun/programming/2010-01/3.html" target="_blank">
      <img alt="Ruby认证程序员课程（Ruby Association Certified Ruby Programmer Silver）" src="<%=asset_path 'ad1.png'%>">
    </a>
  </p>
  <p>
    <a target="_blank" href="http://www.universaltraining.cn/peixun/programming/2010-01/3.html">
环球培训(UniversalTraining)提供Ruby认证程序员课程.
    </a>
  </p>
</div>
    </div>
  </div>
  <% end %>
</section>
<section id="tabs">
  <div class="wrapper">
    <div class="main">
      <ul>
        <li class="current"><a href="#description">Explore</a></li>
        <li><a class="likes" href="#fans">79 Fans</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <div class="tab-content" id="description" style="display: block;">

          <div class="group">
            <h1>Other Presentations by this Speaker</h1>
            <div class="presentations">
                  <div data-slide-count="32" data-id="4fc8aa4002ee4b002200a98d" class="presentation">
    <a href="/u/tanoku/p/ruby-is-unlike-a-banana" class="slide_preview scrub setup"><img style="display:none;" data-slide="31" class="timeline" alt="Slide 32" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_31.jpg"><img style="display:none;" data-slide="30" class="timeline" alt="Slide 31" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_30.jpg"><img style="display:none;" data-slide="29" class="timeline" alt="Slide 30" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_29.jpg"><img style="display:none;" data-slide="28" class="timeline" alt="Slide 29" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_28.jpg"><img style="display:none;" data-slide="27" class="timeline" alt="Slide 28" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_27.jpg"><img style="display: none;" data-slide="26" class="timeline" alt="Slide 27" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_26.jpg"><img style="display: none;" data-slide="25" class="timeline" alt="Slide 26" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_25.jpg"><img style="display: none;" data-slide="24" class="timeline" alt="Slide 25" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_24.jpg"><img style="display: none;" data-slide="23" class="timeline" alt="Slide 24" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_23.jpg"><img style="display:none;" data-slide="22" class="timeline" alt="Slide 23" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_22.jpg"><img style="display: none;" data-slide="21" class="timeline" alt="Slide 22" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_21.jpg"><img style="display: none;" data-slide="20" class="timeline" alt="Slide 21" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_20.jpg"><img style="display: none;" data-slide="19" class="timeline" alt="Slide 20" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_19.jpg"><img style="display:none;" data-slide="18" class="timeline" alt="Slide 19" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_18.jpg"><img style="display: none;" data-slide="17" class="timeline" alt="Slide 18" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_17.jpg"><img style="display:none;" data-slide="16" class="timeline" alt="Slide 17" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_16.jpg"><img style="display:none;" data-slide="15" class="timeline" alt="Slide 16" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_15.jpg"><img style="display: none;" data-slide="14" class="timeline" alt="Slide 15" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_14.jpg"><img style="display: none;" data-slide="13" class="timeline" alt="Slide 14" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_13.jpg"><img style="display: none;" data-slide="12" class="timeline" alt="Slide 13" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_12.jpg"><img style="display: none;" data-slide="11" class="timeline" alt="Slide 12" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_11.jpg"><img style="display:none;" data-slide="10" class="timeline" alt="Slide 11" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_10.jpg"><img style="display:none;" data-slide="9" class="timeline" alt="Slide 10" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_9.jpg"><img style="display:none;" data-slide="8" class="timeline" alt="Slide 9" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_8.jpg"><img style="display: none;" data-slide="7" class="timeline" alt="Slide 8" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_7.jpg"><img style="display:none;" data-slide="6" class="timeline" alt="Slide 7" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_6.jpg"><img style="display:none;" data-slide="5" class="timeline" alt="Slide 6" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_5.jpg"><img style="display:none;" data-slide="4" class="timeline" alt="Slide 5" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_4.jpg"><img style="display:none;" data-slide="3" class="timeline" alt="Slide 4" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_3.jpg"><img style="display:none;" data-slide="2" class="timeline" alt="Slide 3" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_2.jpg"><img style="display: none;" data-slide="1" class="timeline" alt="Slide 2" src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_1.jpg">
        <img src="https://speakerd.s3.amazonaws.com/presentations/4fc8aa4002ee4b002200a98d/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width: 3%;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/tanoku/p/ruby-is-unlike-a-banana">Ruby is Unlike a Banana</a></h3>
      <p class="date">Jun  1, 2012 by <a href="/u/tanoku">Vicent Martí</a></p>
    </div>
  </div>

                  <div data-slide-count="77" data-id="4f6f311a933f08001f02161a" class="presentation">
    <a href="/u/tanoku/p/oh-youre-so-random" class="slide_preview scrub setup"><img style="display:none;" data-slide="76" class="timeline" alt="Slide 77" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_76.jpg"><img style="display:none;" data-slide="75" class="timeline" alt="Slide 76" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_75.jpg"><img style="display:none;" data-slide="74" class="timeline" alt="Slide 75" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_74.jpg"><img style="display:none;" data-slide="73" class="timeline" alt="Slide 74" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_73.jpg"><img style="display:none;" data-slide="72" class="timeline" alt="Slide 73" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_72.jpg"><img style="display:none;" data-slide="71" class="timeline" alt="Slide 72" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_71.jpg"><img style="display:none;" data-slide="70" class="timeline" alt="Slide 71" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_70.jpg"><img style="display:none;" data-slide="69" class="timeline" alt="Slide 70" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_69.jpg"><img style="display:none;" data-slide="68" class="timeline" alt="Slide 69" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_68.jpg"><img style="display:none;" data-slide="67" class="timeline" alt="Slide 68" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_67.jpg"><img style="display:none;" data-slide="66" class="timeline" alt="Slide 67" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_66.jpg"><img style="display:none;" data-slide="65" class="timeline" alt="Slide 66" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_65.jpg"><img style="display:none;" data-slide="64" class="timeline" alt="Slide 65" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_64.jpg"><img style="display:none;" data-slide="63" class="timeline" alt="Slide 64" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_63.jpg"><img style="display:none;" data-slide="62" class="timeline" alt="Slide 63" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_62.jpg"><img style="display: none;" data-slide="61" class="timeline" alt="Slide 62" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_61.jpg"><img style="display:none;" data-slide="60" class="timeline" alt="Slide 61" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_60.jpg"><img style="display:none;" data-slide="59" class="timeline" alt="Slide 60" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_59.jpg"><img style="display:none;" data-slide="58" class="timeline" alt="Slide 59" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_58.jpg"><img style="display:none;" data-slide="57" class="timeline" alt="Slide 58" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_57.jpg"><img style="display:none;" data-slide="56" class="timeline" alt="Slide 57" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_56.jpg"><img style="display:none;" data-slide="55" class="timeline" alt="Slide 56" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_55.jpg"><img style="display:none;" data-slide="54" class="timeline" alt="Slide 55" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_54.jpg"><img style="display:none;" data-slide="53" class="timeline" alt="Slide 54" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_53.jpg"><img style="display:none;" data-slide="52" class="timeline" alt="Slide 53" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_52.jpg"><img style="display:none;" data-slide="51" class="timeline" alt="Slide 52" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_51.jpg"><img style="display:none;" data-slide="50" class="timeline" alt="Slide 51" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_50.jpg"><img style="display:none;" data-slide="49" class="timeline" alt="Slide 50" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_49.jpg"><img style="display:none;" data-slide="48" class="timeline" alt="Slide 49" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_48.jpg"><img style="display:none;" data-slide="47" class="timeline" alt="Slide 48" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_47.jpg"><img style="display:none;" data-slide="46" class="timeline" alt="Slide 47" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_46.jpg"><img style="display:none;" data-slide="45" class="timeline" alt="Slide 46" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_45.jpg"><img style="display:none;" data-slide="44" class="timeline" alt="Slide 45" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_44.jpg"><img style="display:none;" data-slide="43" class="timeline" alt="Slide 44" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_43.jpg"><img style="display:none;" data-slide="42" class="timeline" alt="Slide 43" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_42.jpg"><img style="display:none;" data-slide="41" class="timeline" alt="Slide 42" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_41.jpg"><img style="display:none;" data-slide="40" class="timeline" alt="Slide 41" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_40.jpg"><img style="display:none;" data-slide="39" class="timeline" alt="Slide 40" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_39.jpg"><img style="display:none;" data-slide="38" class="timeline" alt="Slide 39" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_38.jpg"><img style="display:none;" data-slide="37" class="timeline" alt="Slide 38" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_37.jpg"><img style="display:none;" data-slide="36" class="timeline" alt="Slide 37" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_36.jpg"><img style="display:none;" data-slide="35" class="timeline" alt="Slide 36" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_35.jpg"><img style="display:none;" data-slide="34" class="timeline" alt="Slide 35" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_34.jpg"><img style="display:none;" data-slide="33" class="timeline" alt="Slide 34" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_33.jpg"><img style="display:none;" data-slide="32" class="timeline" alt="Slide 33" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_32.jpg"><img style="display:none;" data-slide="31" class="timeline" alt="Slide 32" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_31.jpg"><img style="display:none;" data-slide="30" class="timeline" alt="Slide 31" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_30.jpg"><img style="display:none;" data-slide="29" class="timeline" alt="Slide 30" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_29.jpg"><img style="display:none;" data-slide="28" class="timeline" alt="Slide 29" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_28.jpg"><img style="display:none;" data-slide="27" class="timeline" alt="Slide 28" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_27.jpg"><img style="display:none;" data-slide="26" class="timeline" alt="Slide 27" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_26.jpg"><img style="display:none;" data-slide="25" class="timeline" alt="Slide 26" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_25.jpg"><img style="display:none;" data-slide="24" class="timeline" alt="Slide 25" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_24.jpg"><img style="display:none;" data-slide="23" class="timeline" alt="Slide 24" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_23.jpg"><img style="display:none;" data-slide="22" class="timeline" alt="Slide 23" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_22.jpg"><img style="display:none;" data-slide="21" class="timeline" alt="Slide 22" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_21.jpg"><img style="display:none;" data-slide="20" class="timeline" alt="Slide 21" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_20.jpg"><img style="display:none;" data-slide="19" class="timeline" alt="Slide 20" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_19.jpg"><img style="display:none;" data-slide="18" class="timeline" alt="Slide 19" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_18.jpg"><img style="display:none;" data-slide="17" class="timeline" alt="Slide 18" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_17.jpg"><img style="display:none;" data-slide="16" class="timeline" alt="Slide 17" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_16.jpg"><img style="display:none;" data-slide="15" class="timeline" alt="Slide 16" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_15.jpg"><img style="display:none;" data-slide="14" class="timeline" alt="Slide 15" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_14.jpg"><img style="display:none;" data-slide="13" class="timeline" alt="Slide 14" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_13.jpg"><img style="display:none;" data-slide="12" class="timeline" alt="Slide 13" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_12.jpg"><img style="display:none;" data-slide="11" class="timeline" alt="Slide 12" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_11.jpg"><img style="display:none;" data-slide="10" class="timeline" alt="Slide 11" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_10.jpg"><img style="display:none;" data-slide="9" class="timeline" alt="Slide 10" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_9.jpg"><img style="display: none;" data-slide="8" class="timeline" alt="Slide 9" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_8.jpg"><img style="display:none;" data-slide="7" class="timeline" alt="Slide 8" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_7.jpg"><img style="display:none;" data-slide="6" class="timeline" alt="Slide 7" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_6.jpg"><img style="display:none;" data-slide="5" class="timeline" alt="Slide 6" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_5.jpg"><img style="display:none;" data-slide="4" class="timeline" alt="Slide 5" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_4.jpg"><img style="display:none;" data-slide="3" class="timeline" alt="Slide 4" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_3.jpg"><img style="display:none;" data-slide="2" class="timeline" alt="Slide 3" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_2.jpg"><img style="display:none;" data-slide="1" class="timeline" alt="Slide 2" src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_1.jpg">
        <img src="https://speakerd.s3.amazonaws.com/presentations/4f6f311a933f08001f02161a/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width: 12%;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/tanoku/p/oh-youre-so-random">Oh, you're so random</a></h3>
      <p class="date">Mar 25, 2012 by <a href="/u/tanoku">Vicent Martí</a></p>
    </div>
  </div>

                  <div data-slide-count="27" data-id="4ec44ce646c8f400d20001ba" class="presentation">
    <a href="/u/tanoku/p/a-talk-about-libgit2" class="slide_preview scrub">
        <img src="https://speakerd.s3.amazonaws.com/presentations/4ec44ce646c8f400d20001ba/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width:0;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/tanoku/p/a-talk-about-libgit2">A talk about libgit2</a></h3>
      <p class="date">Nov 16, 2011 by <a href="/u/tanoku">Vicent Martí</a></p>
    </div>
  </div>

            </div>
          </div>

          <div class="group">
            <h1>Other Presentations in Programming</h1>
            <div class="presentations">
                  <div data-slide-count="69" data-id="4f24d3a79a6510001f008836" class="presentation">
    <a href="/u/kennethreitz/p/python-for-humans" class="slide_preview scrub setup"><img style="display:none;" data-slide="68" class="timeline" alt="Slide 69" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_68.jpg"><img style="display:none;" data-slide="67" class="timeline" alt="Slide 68" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_67.jpg"><img style="display:none;" data-slide="66" class="timeline" alt="Slide 67" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_66.jpg"><img style="display:none;" data-slide="65" class="timeline" alt="Slide 66" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_65.jpg"><img style="display:none;" data-slide="64" class="timeline" alt="Slide 65" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_64.jpg"><img style="display:none;" data-slide="63" class="timeline" alt="Slide 64" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_63.jpg"><img style="display:none;" data-slide="62" class="timeline" alt="Slide 63" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_62.jpg"><img style="display:none;" data-slide="61" class="timeline" alt="Slide 62" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_61.jpg"><img style="display:none;" data-slide="60" class="timeline" alt="Slide 61" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_60.jpg"><img style="display:none;" data-slide="59" class="timeline" alt="Slide 60" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_59.jpg"><img style="display:none;" data-slide="58" class="timeline" alt="Slide 59" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_58.jpg"><img style="display:none;" data-slide="57" class="timeline" alt="Slide 58" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_57.jpg"><img style="display:none;" data-slide="56" class="timeline" alt="Slide 57" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_56.jpg"><img style="display:none;" data-slide="55" class="timeline" alt="Slide 56" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_55.jpg"><img style="display:none;" data-slide="54" class="timeline" alt="Slide 55" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_54.jpg"><img style="display:none;" data-slide="53" class="timeline" alt="Slide 54" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_53.jpg"><img style="display:none;" data-slide="52" class="timeline" alt="Slide 53" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_52.jpg"><img style="display:none;" data-slide="51" class="timeline" alt="Slide 52" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_51.jpg"><img style="display:none;" data-slide="50" class="timeline" alt="Slide 51" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_50.jpg"><img style="display:none;" data-slide="49" class="timeline" alt="Slide 50" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_49.jpg"><img style="display:none;" data-slide="48" class="timeline" alt="Slide 49" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_48.jpg"><img style="display:none;" data-slide="47" class="timeline" alt="Slide 48" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_47.jpg"><img style="display:none;" data-slide="46" class="timeline" alt="Slide 47" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_46.jpg"><img style="display: none;" data-slide="45" class="timeline" alt="Slide 46" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_45.jpg"><img style="display: none;" data-slide="44" class="timeline" alt="Slide 45" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_44.jpg"><img style="display: none;" data-slide="43" class="timeline" alt="Slide 44" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_43.jpg"><img style="display: none;" data-slide="42" class="timeline" alt="Slide 43" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_42.jpg"><img style="display:none;" data-slide="41" class="timeline" alt="Slide 42" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_41.jpg"><img style="display:none;" data-slide="40" class="timeline" alt="Slide 41" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_40.jpg"><img style="display:none;" data-slide="39" class="timeline" alt="Slide 40" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_39.jpg"><img style="display:none;" data-slide="38" class="timeline" alt="Slide 39" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_38.jpg"><img style="display:none;" data-slide="37" class="timeline" alt="Slide 38" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_37.jpg"><img style="display:none;" data-slide="36" class="timeline" alt="Slide 37" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_36.jpg"><img style="display:none;" data-slide="35" class="timeline" alt="Slide 36" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_35.jpg"><img style="display:none;" data-slide="34" class="timeline" alt="Slide 35" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_34.jpg"><img style="display:none;" data-slide="33" class="timeline" alt="Slide 34" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_33.jpg"><img style="display:none;" data-slide="32" class="timeline" alt="Slide 33" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_32.jpg"><img style="display:none;" data-slide="31" class="timeline" alt="Slide 32" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_31.jpg"><img style="display:none;" data-slide="30" class="timeline" alt="Slide 31" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_30.jpg"><img style="display:none;" data-slide="29" class="timeline" alt="Slide 30" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_29.jpg"><img style="display:none;" data-slide="28" class="timeline" alt="Slide 29" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_28.jpg"><img style="display: none;" data-slide="27" class="timeline" alt="Slide 28" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_27.jpg"><img style="display:none;" data-slide="26" class="timeline" alt="Slide 27" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_26.jpg"><img style="display:none;" data-slide="25" class="timeline" alt="Slide 26" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_25.jpg"><img style="display:none;" data-slide="24" class="timeline" alt="Slide 25" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_24.jpg"><img style="display:none;" data-slide="23" class="timeline" alt="Slide 24" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_23.jpg"><img style="display:none;" data-slide="22" class="timeline" alt="Slide 23" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_22.jpg"><img style="display:none;" data-slide="21" class="timeline" alt="Slide 22" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_21.jpg"><img style="display:none;" data-slide="20" class="timeline" alt="Slide 21" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_20.jpg"><img style="display:none;" data-slide="19" class="timeline" alt="Slide 20" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_19.jpg"><img style="display:none;" data-slide="18" class="timeline" alt="Slide 19" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_18.jpg"><img style="display:none;" data-slide="17" class="timeline" alt="Slide 18" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_17.jpg"><img style="display:none;" data-slide="16" class="timeline" alt="Slide 17" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_16.jpg"><img style="display:none;" data-slide="15" class="timeline" alt="Slide 16" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_15.jpg"><img style="display:none;" data-slide="14" class="timeline" alt="Slide 15" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_14.jpg"><img style="display:none;" data-slide="13" class="timeline" alt="Slide 14" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_13.jpg"><img style="display:none;" data-slide="12" class="timeline" alt="Slide 13" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_12.jpg"><img style="display:none;" data-slide="11" class="timeline" alt="Slide 12" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_11.jpg"><img style="display:none;" data-slide="10" class="timeline" alt="Slide 11" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_10.jpg"><img style="display: none;" data-slide="9" class="timeline" alt="Slide 10" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_9.jpg"><img style="display:none;" data-slide="8" class="timeline" alt="Slide 9" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_8.jpg"><img style="display:none;" data-slide="7" class="timeline" alt="Slide 8" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_7.jpg"><img style="display:none;" data-slide="6" class="timeline" alt="Slide 7" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_6.jpg"><img style="display:none;" data-slide="5" class="timeline" alt="Slide 6" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_5.jpg"><img style="display:none;" data-slide="4" class="timeline" alt="Slide 5" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_4.jpg"><img style="display: none;" data-slide="3" class="timeline" alt="Slide 4" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_3.jpg"><img style="display:none;" data-slide="2" class="timeline" alt="Slide 3" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_2.jpg"><img style="display:none;" data-slide="1" class="timeline" alt="Slide 2" src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_1.jpg">
        <img src="https://speakerd.s3.amazonaws.com/presentations/4f24d3a79a6510001f008836/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width: 1%;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/kennethreitz/p/python-for-humans">Python for Humans</a></h3>
      <p class="date">Aug 19, 2012 by <a href="/u/kennethreitz">Kenneth Reitz</a></p>
    </div>
  </div>

                  <div data-slide-count="65" data-id="5030a6d7edfca800020280a7" class="presentation">
    <a href="/u/clkao/p/livescript-tax-free-javascript" class="slide_preview scrub">
        <img src="https://speakerd.s3.amazonaws.com/presentations/5030a6d7edfca800020280a7/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width:0;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/clkao/p/livescript-tax-free-javascript">LiveScript - tax-free JavaScript</a></h3>
      <p class="date">Aug 19, 2012 by <a href="/u/clkao">clkao</a></p>
    </div>
  </div>

                  <div data-slide-count="12" data-id="50317c178bc57e00020076f5" class="presentation">
    <a href="/u/nathan_claburn/p/linux-loves-ruby-with-speaker-notes" class="slide_preview scrub">
        <img src="https://speakerd.s3.amazonaws.com/presentations/50317c178bc57e00020076f5/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width:0;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/nathan_claburn/p/linux-loves-ruby-with-speaker-notes">Linux Loves Ruby with Speaker Notes</a></h3>
      <p class="date">Aug 19, 2012 by <a href="/u/nathan_claburn">Nathan Claburn</a></p>
    </div>
  </div>

            </div>
          </div>

          <div class="group">
            <h1>Featured Presentations</h1>
            <div class="presentations">
                  <div data-slide-count="55" data-id="4ff713abb5c1770021049c4b" class="presentation">
    <a href="/u/tanoku/p/intergalactic-javascript-robots-from-outer-space" class="slide_preview scrub">
        <img src="https://speakerd.s3.amazonaws.com/presentations/4ff713abb5c1770021049c4b/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width:0;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/tanoku/p/intergalactic-javascript-robots-from-outer-space">Intergalactic Javascript Robots from Outer Space</a></h3>
      <p class="date">Jul  6, 2012 by <a href="/u/tanoku">Vicent Martí</a></p>
    </div>
  </div>

                  <div data-slide-count="53" data-id="4fd222bc469d200187028ae4" class="presentation">
    <a href="/u/frogandcode/p/in-the-pink-a-labor-of-love" class="slide_preview scrub">
        <img src="https://speakerd.s3.amazonaws.com/presentations/4fd222bc469d200187028ae4/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width:0;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/frogandcode/p/in-the-pink-a-labor-of-love">In The Pink: A Labor of Love</a></h3>
      <p class="date">Jun  8, 2012 by <a href="/u/frogandcode">Rich Thornett</a></p>
    </div>
  </div>

                  <div data-slide-count="17" data-id="4fd1c5665d50290183010ab1" class="presentation">
    <a href="/u/edds/p/what-the-flash-photography-introduction" class="slide_preview scrub">
        <img src="https://speakerd.s3.amazonaws.com/presentations/4fd1c5665d50290183010ab1/thumb_slide_0.jpg" alt="Thumb_slide_0">
        <div class="scrubber"><div style="width:0;" class="scrubbed"></div></div>
    </a>
    <div class="preview_info">
      <h3><a href="/u/edds/p/what-the-flash-photography-introduction">What the flash - Photography Introduction</a></h3>
      <p class="date">Jun  8, 2012 by <a href="/u/edds">Edd S</a></p>
    </div>
  </div>

            </div>
          </div>
      </div>

      <div class="tab-content" id="fans" style="display: none;">
        <h1>Fans of this Presentation
        </h1>
        <table>  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/eforme02"><img src="//secure.gravatar.com/avatar/ed3dfb55ce881156711f93ad7336a107?s=47" alt="Ed3dfb55ce881156711f93ad7336a107?s=47"></a></td>
    <td class="user"><a href="/u/eforme02">eforme02</a></td>
    <td class="data"><a href="/u/eforme02">0 Presentations</a></td>
    <td class="data"><a href="/u/eforme02/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/pcolombo"><img src="//secure.gravatar.com/avatar/b121fd34d5ffef12fd8e1a7057ab940a?s=47" alt="B121fd34d5ffef12fd8e1a7057ab940a?s=47"></a></td>
    <td class="user"><a href="/u/pcolombo">pcolombo</a></td>
    <td class="data"><a href="/u/pcolombo">0 Presentations</a></td>
    <td class="data"><a href="/u/pcolombo/l">7 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/matthewmccullough"><img src="//secure.gravatar.com/avatar/bededa744012c87721d68f69342f81b0?s=47" alt="Bededa744012c87721d68f69342f81b0?s=47"></a></td>
    <td class="user"><a href="/u/matthewmccullough">Matthew McCullough</a></td>
    <td class="data"><a href="/u/matthewmccullough">18 Presentations</a></td>
    <td class="data"><a href="/u/matthewmccullough/l">28 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/shawndavenport"><img src="//secure.gravatar.com/avatar/da871a1ac933724a6678bd89949b19c7?s=47" alt="Da871a1ac933724a6678bd89949b19c7?s=47"></a></td>
    <td class="user"><a href="/u/shawndavenport">Shawn Davenport</a></td>
    <td class="data"><a href="/u/shawndavenport">0 Presentations</a></td>
    <td class="data"><a href="/u/shawndavenport/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/tomb"><img src="//secure.gravatar.com/avatar/effcce515ba7489dae020fa1661a4639?s=47" alt="Effcce515ba7489dae020fa1661a4639?s=47"></a></td>
    <td class="user"><a href="/u/tomb">tomb</a></td>
    <td class="data"><a href="/u/tomb">0 Presentations</a></td>
    <td class="data"><a href="/u/tomb/l">4 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/randylien"><img src="//secure.gravatar.com/avatar/130a1cfc16ea7b4c12537e1bc0e32ff4?s=47" alt="130a1cfc16ea7b4c12537e1bc0e32ff4?s=47"></a></td>
    <td class="user"><a href="/u/randylien">randylien</a></td>
    <td class="data"><a href="/u/randylien">0 Presentations</a></td>
    <td class="data"><a href="/u/randylien/l">3 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/btbytes"><img src="//secure.gravatar.com/avatar/84c3eab99b7425d6b614ba6d11402d6b?s=47" alt="84c3eab99b7425d6b614ba6d11402d6b?s=47"></a></td>
    <td class="user"><a href="/u/btbytes">btbytes</a></td>
    <td class="data"><a href="/u/btbytes">0 Presentations</a></td>
    <td class="data"><a href="/u/btbytes/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/nrrrdcore"><img src="//secure.gravatar.com/avatar/cbfa54275010d81ff786ef9b2a711d38?s=47" alt="Cbfa54275010d81ff786ef9b2a711d38?s=47"></a></td>
    <td class="user"><a href="/u/nrrrdcore">nrrrdcore</a></td>
    <td class="data"><a href="/u/nrrrdcore">1 Presentation</a></td>
    <td class="data"><a href="/u/nrrrdcore/l">11 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/jonmagic"><img src="//secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=47" alt="7064ad438246a02809c85bcd92cb5f3f?s=47"></a></td>
    <td class="user"><a href="/u/jonmagic">Jon Hoyt</a></td>
    <td class="data"><a href="/u/jonmagic">3 Presentations</a></td>
    <td class="data"><a href="/u/jonmagic/l">31 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/ultrayoshi"><img src="//secure.gravatar.com/avatar/36fc3b3220704ea4f1c2df9fd37cb25c?s=47" alt="36fc3b3220704ea4f1c2df9fd37cb25c?s=47"></a></td>
    <td class="user"><a href="/u/ultrayoshi">ultrayoshi</a></td>
    <td class="data"><a href="/u/ultrayoshi">0 Presentations</a></td>
    <td class="data"><a href="/u/ultrayoshi/l">5 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/mmozuras"><img src="//secure.gravatar.com/avatar/b5009f255a6f0c386d40d6143948df8e?s=47" alt="B5009f255a6f0c386d40d6143948df8e?s=47"></a></td>
    <td class="user"><a href="/u/mmozuras">Mindaugas Mozūras</a></td>
    <td class="data"><a href="/u/mmozuras">3 Presentations</a></td>
    <td class="data"><a href="/u/mmozuras/l">4 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/boton"><img src="//secure.gravatar.com/avatar/ce4a4da9ea6365c0e07d8264eeba1b7d?s=47" alt="Ce4a4da9ea6365c0e07d8264eeba1b7d?s=47"></a></td>
    <td class="user"><a href="/u/boton">boton</a></td>
    <td class="data"><a href="/u/boton">0 Presentations</a></td>
    <td class="data"><a href="/u/boton/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/eshiota"><img src="//secure.gravatar.com/avatar/fa59eb5159c978e2577e65f45fa9171f?s=47" alt="Fa59eb5159c978e2577e65f45fa9171f?s=47"></a></td>
    <td class="user"><a href="/u/eshiota">eshiota</a></td>
    <td class="data"><a href="/u/eshiota">1 Presentation</a></td>
    <td class="data"><a href="/u/eshiota/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/aobyrne"><img src="//secure.gravatar.com/avatar/7a97872ebe1eb6e4e40c9cd05004efaf?s=47" alt="7a97872ebe1eb6e4e40c9cd05004efaf?s=47"></a></td>
    <td class="user"><a href="/u/aobyrne">aobyrne</a></td>
    <td class="data"><a href="/u/aobyrne">0 Presentations</a></td>
    <td class="data"><a href="/u/aobyrne/l">3 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/mox"><img src="//secure.gravatar.com/avatar/0e9023072f4668405f20f922ea224ba2?s=47" alt="0e9023072f4668405f20f922ea224ba2?s=47"></a></td>
    <td class="user"><a href="/u/mox">mox</a></td>
    <td class="data"><a href="/u/mox">0 Presentations</a></td>
    <td class="data"><a href="/u/mox/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/zhuochun"><img src="//secure.gravatar.com/avatar/df02868b2a3ef9c280f0ac9b51326fdf?s=47" alt="Df02868b2a3ef9c280f0ac9b51326fdf?s=47"></a></td>
    <td class="user"><a href="/u/zhuochun">zhuochun</a></td>
    <td class="data"><a href="/u/zhuochun">0 Presentations</a></td>
    <td class="data"><a href="/u/zhuochun/l">46 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/krsiakdaniel"><img src="//secure.gravatar.com/avatar/1aa42c355cb22837577531ad1e758174?s=47" alt="1aa42c355cb22837577531ad1e758174?s=47"></a></td>
    <td class="user"><a href="/u/krsiakdaniel">Daniel Krsiak</a></td>
    <td class="data"><a href="/u/krsiakdaniel">0 Presentations</a></td>
    <td class="data"><a href="/u/krsiakdaniel/l">44 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/deone"><img src="//secure.gravatar.com/avatar/eaa46ec84466e02192324b80394e61c4?s=47" alt="Eaa46ec84466e02192324b80394e61c4?s=47"></a></td>
    <td class="user"><a href="/u/deone">deone</a></td>
    <td class="data"><a href="/u/deone">0 Presentations</a></td>
    <td class="data"><a href="/u/deone/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/romainhuet"><img src="//secure.gravatar.com/avatar/fba7af5f6f3068ec21c80f9ea45d7870?s=47" alt="Fba7af5f6f3068ec21c80f9ea45d7870?s=47"></a></td>
    <td class="user"><a href="/u/romainhuet">Romain Huet</a></td>
    <td class="data"><a href="/u/romainhuet">0 Presentations</a></td>
    <td class="data"><a href="/u/romainhuet/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/peterdesmet"><img src="//secure.gravatar.com/avatar/3b2ece5140ea5701584ebd02570c1066?s=47" alt="3b2ece5140ea5701584ebd02570c1066?s=47"></a></td>
    <td class="user"><a href="/u/peterdesmet">Peter Desmet</a></td>
    <td class="data"><a href="/u/peterdesmet">5 Presentations</a></td>
    <td class="data"><a href="/u/peterdesmet/l">7 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/apierre_cardoso"><img src="//secure.gravatar.com/avatar/7a32fbf680e3f7c0d5b6a0cf58cefd77?s=47" alt="7a32fbf680e3f7c0d5b6a0cf58cefd77?s=47"></a></td>
    <td class="user"><a href="/u/apierre_cardoso">apierre_cardoso</a></td>
    <td class="data"><a href="/u/apierre_cardoso">0 Presentations</a></td>
    <td class="data"><a href="/u/apierre_cardoso/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/mattgraham"><img src="//secure.gravatar.com/avatar/25d643886852ad60d0efe0b3190a53dd?s=47" alt="25d643886852ad60d0efe0b3190a53dd?s=47"></a></td>
    <td class="user"><a href="/u/mattgraham">Matt Graham</a></td>
    <td class="data"><a href="/u/mattgraham">1 Presentation</a></td>
    <td class="data"><a href="/u/mattgraham/l">23 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/foca"><img src="//secure.gravatar.com/avatar/e2eac01661fd490189a527b41c81a91c?s=47" alt="E2eac01661fd490189a527b41c81a91c?s=47"></a></td>
    <td class="user"><a href="/u/foca">foca</a></td>
    <td class="data"><a href="/u/foca">2 Presentations</a></td>
    <td class="data"><a href="/u/foca/l">4 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/garu"><img src="//secure.gravatar.com/avatar/61b5b85f52e192cbf2af402728756479?s=47" alt="61b5b85f52e192cbf2af402728756479?s=47"></a></td>
    <td class="user"><a href="/u/garu">Bruno Henrique</a></td>
    <td class="data"><a href="/u/garu">1 Presentation</a></td>
    <td class="data"><a href="/u/garu/l">24 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/pixelwhip"><img src="//secure.gravatar.com/avatar/aa0c71ca5d4c3e9bab9eba7fa24f9bfd?s=47" alt="Aa0c71ca5d4c3e9bab9eba7fa24f9bfd?s=47"></a></td>
    <td class="user"><a href="/u/pixelwhip">pixelwhip</a></td>
    <td class="data"><a href="/u/pixelwhip">1 Presentation</a></td>
    <td class="data"><a href="/u/pixelwhip/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/sha92"><img src="//secure.gravatar.com/avatar/be58cde47eecdf076b7503d4e7212a8d?s=47" alt="Be58cde47eecdf076b7503d4e7212a8d?s=47"></a></td>
    <td class="user"><a href="/u/sha92">sha92</a></td>
    <td class="data"><a href="/u/sha92">0 Presentations</a></td>
    <td class="data"><a href="/u/sha92/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/legomaster"><img src="//secure.gravatar.com/avatar/c8ecc5ee47da7f1879099f603767ead4?s=47" alt="C8ecc5ee47da7f1879099f603767ead4?s=47"></a></td>
    <td class="user"><a href="/u/legomaster">Travis Smith</a></td>
    <td class="data"><a href="/u/legomaster">2 Presentations</a></td>
    <td class="data"><a href="/u/legomaster/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/mihaipaun"><img src="//secure.gravatar.com/avatar/f653bba43bf9990d0547bbdac6e97bb2?s=47" alt="F653bba43bf9990d0547bbdac6e97bb2?s=47"></a></td>
    <td class="user"><a href="/u/mihaipaun">mihaipaun</a></td>
    <td class="data"><a href="/u/mihaipaun">0 Presentations</a></td>
    <td class="data"><a href="/u/mihaipaun/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/hiteca"><img src="//secure.gravatar.com/avatar/f54bf20a6ff4b4ecc285be230e37874e?s=47" alt="F54bf20a6ff4b4ecc285be230e37874e?s=47"></a></td>
    <td class="user"><a href="/u/hiteca">Eido NABESHIMA</a></td>
    <td class="data"><a href="/u/hiteca">0 Presentations</a></td>
    <td class="data"><a href="/u/hiteca/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/wufeng"><img src="//secure.gravatar.com/avatar/ea88f309cabccbfc0c7b9259334425dc?s=47" alt="Ea88f309cabccbfc0c7b9259334425dc?s=47"></a></td>
    <td class="user"><a href="/u/wufeng">wu feng</a></td>
    <td class="data"><a href="/u/wufeng">0 Presentations</a></td>
    <td class="data"><a href="/u/wufeng/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/rickschmoo"><img src="//secure.gravatar.com/avatar/6f2a386699caf9ca94866962d133744c?s=47" alt="6f2a386699caf9ca94866962d133744c?s=47"></a></td>
    <td class="user"><a href="/u/rickschmoo">rickschmoo</a></td>
    <td class="data"><a href="/u/rickschmoo">0 Presentations</a></td>
    <td class="data"><a href="/u/rickschmoo/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/siemieniec"><img src="//secure.gravatar.com/avatar/c1be9b9290f95f19caee0279ab650094?s=47" alt="C1be9b9290f95f19caee0279ab650094?s=47"></a></td>
    <td class="user"><a href="/u/siemieniec">siemieniec</a></td>
    <td class="data"><a href="/u/siemieniec">0 Presentations</a></td>
    <td class="data"><a href="/u/siemieniec/l">5 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/olivierlacan"><img src="//secure.gravatar.com/avatar/6e77509d7891c1d2230f3240a5652b6e?s=47" alt="6e77509d7891c1d2230f3240a5652b6e?s=47"></a></td>
    <td class="user"><a href="/u/olivierlacan">Olivier Lacan</a></td>
    <td class="data"><a href="/u/olivierlacan">1 Presentation</a></td>
    <td class="data"><a href="/u/olivierlacan/l">11 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/omissis"><img src="//secure.gravatar.com/avatar/067a588103adbbdccb2aa47a8e9a428b?s=47" alt="067a588103adbbdccb2aa47a8e9a428b?s=47"></a></td>
    <td class="user"><a href="/u/omissis">omissis</a></td>
    <td class="data"><a href="/u/omissis">3 Presentations</a></td>
    <td class="data"><a href="/u/omissis/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/todkarpinski"><img src="//secure.gravatar.com/avatar/87ba19e6d3b3a6969538042663f4208b?s=47" alt="87ba19e6d3b3a6969538042663f4208b?s=47"></a></td>
    <td class="user"><a href="/u/todkarpinski">todkarpinski</a></td>
    <td class="data"><a href="/u/todkarpinski">1 Presentation</a></td>
    <td class="data"><a href="/u/todkarpinski/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/xachmoreno"><img src="//secure.gravatar.com/avatar/f0fc36b46754d1efa20a70a088cf007d?s=47" alt="F0fc36b46754d1efa20a70a088cf007d?s=47"></a></td>
    <td class="user"><a href="/u/xachmoreno">xachmoreno</a></td>
    <td class="data"><a href="/u/xachmoreno">0 Presentations</a></td>
    <td class="data"><a href="/u/xachmoreno/l">6 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/nyalab"><img src="//secure.gravatar.com/avatar/0024021f51ce1fdc50564298e72fbf7c?s=47" alt="0024021f51ce1fdc50564298e72fbf7c?s=47"></a></td>
    <td class="user"><a href="/u/nyalab">nyalab</a></td>
    <td class="data"><a href="/u/nyalab">0 Presentations</a></td>
    <td class="data"><a href="/u/nyalab/l">3 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/keiththomps"><img src="//secure.gravatar.com/avatar/b9d12499813d6ccf8a1d1610f9a5bfe8?s=47" alt="B9d12499813d6ccf8a1d1610f9a5bfe8?s=47"></a></td>
    <td class="user"><a href="/u/keiththomps">keiththomps</a></td>
    <td class="data"><a href="/u/keiththomps">1 Presentation</a></td>
    <td class="data"><a href="/u/keiththomps/l">5 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/mkftr"><img src="//secure.gravatar.com/avatar/ddcba6252b013a916c55e73a600f4270?s=47" alt="Ddcba6252b013a916c55e73a600f4270?s=47"></a></td>
    <td class="user"><a href="/u/mkftr">Ken Matsui</a></td>
    <td class="data"><a href="/u/mkftr">0 Presentations</a></td>
    <td class="data"><a href="/u/mkftr/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/lorn"><img src="//secure.gravatar.com/avatar/362b77d943afe986bc6ead2bf11d0e3f?s=47" alt="362b77d943afe986bc6ead2bf11d0e3f?s=47"></a></td>
    <td class="user"><a href="/u/lorn">lorn</a></td>
    <td class="data"><a href="/u/lorn">4 Presentations</a></td>
    <td class="data"><a href="/u/lorn/l">5 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/michealclarke531"><img src="//secure.gravatar.com/avatar/57eb2195358193ad4d0c96dc6bfa4ede?s=47" alt="57eb2195358193ad4d0c96dc6bfa4ede?s=47"></a></td>
    <td class="user"><a href="/u/michealclarke531">micheal clarke</a></td>
    <td class="data"><a href="/u/michealclarke531">0 Presentations</a></td>
    <td class="data"><a href="/u/michealclarke531/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/rmcafee"><img src="//secure.gravatar.com/avatar/ffcab69b3a975ac559df86cd24c0b454?s=47" alt="Ffcab69b3a975ac559df86cd24c0b454?s=47"></a></td>
    <td class="user"><a href="/u/rmcafee">rmcafee</a></td>
    <td class="data"><a href="/u/rmcafee">0 Presentations</a></td>
    <td class="data"><a href="/u/rmcafee/l">6 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/doctyper"><img src="//secure.gravatar.com/avatar/361f49c8a3b5cc512d81bf8bcbd7fc2e?s=47" alt="361f49c8a3b5cc512d81bf8bcbd7fc2e?s=47"></a></td>
    <td class="user"><a href="/u/doctyper">Aleks Dorohovich</a></td>
    <td class="data"><a href="/u/doctyper">0 Presentations</a></td>
    <td class="data"><a href="/u/doctyper/l">9 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/micaleel"><img src="//secure.gravatar.com/avatar/26ec13b41765fc4b9d1c41d8089782c3?s=47" alt="26ec13b41765fc4b9d1c41d8089782c3?s=47"></a></td>
    <td class="user"><a href="/u/micaleel">Khalil Muhammad</a></td>
    <td class="data"><a href="/u/micaleel">0 Presentations</a></td>
    <td class="data"><a href="/u/micaleel/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/asselinpaul"><img src="//secure.gravatar.com/avatar/b8348f372e3658f770a42743f73dc5ad?s=47" alt="B8348f372e3658f770a42743f73dc5ad?s=47"></a></td>
    <td class="user"><a href="/u/asselinpaul">Paul Asselin</a></td>
    <td class="data"><a href="/u/asselinpaul">0 Presentations</a></td>
    <td class="data"><a href="/u/asselinpaul/l">7 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/wazery"><img src="//secure.gravatar.com/avatar/58278233d7c0462014b63d2538c811b4?s=47" alt="58278233d7c0462014b63d2538c811b4?s=47"></a></td>
    <td class="user"><a href="/u/wazery">wazery</a></td>
    <td class="data"><a href="/u/wazery">0 Presentations</a></td>
    <td class="data"><a href="/u/wazery/l">14 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/krofdrakula"><img src="//secure.gravatar.com/avatar/a9b044960d076e43d18e07f09f7a15c6?s=47" alt="A9b044960d076e43d18e07f09f7a15c6?s=47"></a></td>
    <td class="user"><a href="/u/krofdrakula">Klemen Slavič</a></td>
    <td class="data"><a href="/u/krofdrakula">4 Presentations</a></td>
    <td class="data"><a href="/u/krofdrakula/l">5 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/mgrassotti"><img src="//secure.gravatar.com/avatar/9b9536f792ccd2b3641d8e3f9a157167?s=47" alt="9b9536f792ccd2b3641d8e3f9a157167?s=47"></a></td>
    <td class="user"><a href="/u/mgrassotti">mgrassotti</a></td>
    <td class="data"><a href="/u/mgrassotti">0 Presentations</a></td>
    <td class="data"><a href="/u/mgrassotti/l">10 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/tomohiro"><img src="//secure.gravatar.com/avatar/b26ba8ab9e0d6e3f92cbc7f8e320fc11?s=47" alt="B26ba8ab9e0d6e3f92cbc7f8e320fc11?s=47"></a></td>
    <td class="user"><a href="/u/tomohiro">tomohiro</a></td>
    <td class="data"><a href="/u/tomohiro">0 Presentations</a></td>
    <td class="data"><a href="/u/tomohiro/l">4 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/stephanvs"><img src="//secure.gravatar.com/avatar/1f063986891404eba90c199707e3580e?s=47" alt="1f063986891404eba90c199707e3580e?s=47"></a></td>
    <td class="user"><a href="/u/stephanvs">stephanvs</a></td>
    <td class="data"><a href="/u/stephanvs">0 Presentations</a></td>
    <td class="data"><a href="/u/stephanvs/l">3 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/pminnieur"><img src="//secure.gravatar.com/avatar/85d165e6b5ce978a90cfdc0409571dd9?s=47" alt="85d165e6b5ce978a90cfdc0409571dd9?s=47"></a></td>
    <td class="user"><a href="/u/pminnieur">Pierre Minnieur</a></td>
    <td class="data"><a href="/u/pminnieur">0 Presentations</a></td>
    <td class="data"><a href="/u/pminnieur/l">233 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/barodeur"><img src="//secure.gravatar.com/avatar/ee28d310bc28e785ac41d9b5b673c7e0?s=47" alt="Ee28d310bc28e785ac41d9b5b673c7e0?s=47"></a></td>
    <td class="user"><a href="/u/barodeur">Paul Chobert</a></td>
    <td class="data"><a href="/u/barodeur">2 Presentations</a></td>
    <td class="data"><a href="/u/barodeur/l">4 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/emabolo"><img src="//secure.gravatar.com/avatar/e9a1b6f988c3f5c157cfca672f0185ee?s=47" alt="E9a1b6f988c3f5c157cfca672f0185ee?s=47"></a></td>
    <td class="user"><a href="/u/emabolo">Emanuele Bolognesi</a></td>
    <td class="data"><a href="/u/emabolo">4 Presentations</a></td>
    <td class="data"><a href="/u/emabolo/l">4 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/jmikola"><img src="//secure.gravatar.com/avatar/f23700b51dc0c196c1dc02f84aeeecdf?s=47" alt="F23700b51dc0c196c1dc02f84aeeecdf?s=47"></a></td>
    <td class="user"><a href="/u/jmikola">Jeremy Mikola</a></td>
    <td class="data"><a href="/u/jmikola">5 Presentations</a></td>
    <td class="data"><a href="/u/jmikola/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/marsam"><img src="//secure.gravatar.com/avatar/f641f504b31c0020276ba40dd6e7e780?s=47" alt="F641f504b31c0020276ba40dd6e7e780?s=47"></a></td>
    <td class="user"><a href="/u/marsam">marsam</a></td>
    <td class="data"><a href="/u/marsam">0 Presentations</a></td>
    <td class="data"><a href="/u/marsam/l">11 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/lshimokawa"><img src="//secure.gravatar.com/avatar/e753eeeab7e49cec4631ed6254ed6bbf?s=47" alt="E753eeeab7e49cec4631ed6254ed6bbf?s=47"></a></td>
    <td class="user"><a href="/u/lshimokawa">lshimokawa</a></td>
    <td class="data"><a href="/u/lshimokawa">0 Presentations</a></td>
    <td class="data"><a href="/u/lshimokawa/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/nickers"><img src="//secure.gravatar.com/avatar/4acfa73ae51a8ed00714ff0be1f453ca?s=47" alt="4acfa73ae51a8ed00714ff0be1f453ca?s=47"></a></td>
    <td class="user"><a href="/u/nickers">nickers</a></td>
    <td class="data"><a href="/u/nickers">0 Presentations</a></td>
    <td class="data"><a href="/u/nickers/l">19 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/dannluciano"><img src="//secure.gravatar.com/avatar/9486298aceeee0f05f029c760d89a248?s=47" alt="9486298aceeee0f05f029c760d89a248?s=47"></a></td>
    <td class="user"><a href="/u/dannluciano">Dann Luciano</a></td>
    <td class="data"><a href="/u/dannluciano">0 Presentations</a></td>
    <td class="data"><a href="/u/dannluciano/l">17 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/mrblue"><img src="//secure.gravatar.com/avatar/d438676da41a3ad982536060c89b8ebb?s=47" alt="D438676da41a3ad982536060c89b8ebb?s=47"></a></td>
    <td class="user"><a href="/u/mrblue">mrblue</a></td>
    <td class="data"><a href="/u/mrblue">0 Presentations</a></td>
    <td class="data"><a href="/u/mrblue/l">47 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/yitsushi"><img src="//secure.gravatar.com/avatar/ce277359083b3fca822f1a1a0fbfe66c?s=47" alt="Ce277359083b3fca822f1a1a0fbfe66c?s=47"></a></td>
    <td class="user"><a href="/u/yitsushi">yitsushi</a></td>
    <td class="data"><a href="/u/yitsushi">0 Presentations</a></td>
    <td class="data"><a href="/u/yitsushi/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/zenstealth"><img src="//secure.gravatar.com/avatar/0c0344f24f72c8b0874e0e6a80e8a974?s=47" alt="0c0344f24f72c8b0874e0e6a80e8a974?s=47"></a></td>
    <td class="user"><a href="/u/zenstealth">zenstealth</a></td>
    <td class="data"><a href="/u/zenstealth">0 Presentations</a></td>
    <td class="data"><a href="/u/zenstealth/l">4 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/guilffer"><img src="//secure.gravatar.com/avatar/c01fa1884adb98ac38b0e982b032ee3f?s=47" alt="C01fa1884adb98ac38b0e982b032ee3f?s=47"></a></td>
    <td class="user"><a href="/u/guilffer">Guilherme Ferreira</a></td>
    <td class="data"><a href="/u/guilffer">0 Presentations</a></td>
    <td class="data"><a href="/u/guilffer/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/samking"><img src="//secure.gravatar.com/avatar/61ac73624e2972f8eaa4aac9311af7c5?s=47" alt="61ac73624e2972f8eaa4aac9311af7c5?s=47"></a></td>
    <td class="user"><a href="/u/samking">samking</a></td>
    <td class="data"><a href="/u/samking">0 Presentations</a></td>
    <td class="data"><a href="/u/samking/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/philipe"><img src="//secure.gravatar.com/avatar/e29f04f339715955060858e0e65e1311?s=47" alt="E29f04f339715955060858e0e65e1311?s=47"></a></td>
    <td class="user"><a href="/u/philipe">philipe</a></td>
    <td class="data"><a href="/u/philipe">0 Presentations</a></td>
    <td class="data"><a href="/u/philipe/l">5 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/andion"><img src="//secure.gravatar.com/avatar/e442cbd2bedf0d3cf25650b8eadf7d49?s=47" alt="E442cbd2bedf0d3cf25650b8eadf7d49?s=47"></a></td>
    <td class="user"><a href="/u/andion">andion</a></td>
    <td class="data"><a href="/u/andion">0 Presentations</a></td>
    <td class="data"><a href="/u/andion/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/dstroii"><img src="//secure.gravatar.com/avatar/f18bf1157e905ffa6346e42c79e15953?s=47" alt="F18bf1157e905ffa6346e42c79e15953?s=47"></a></td>
    <td class="user"><a href="/u/dstroii">Hervé Mischler</a></td>
    <td class="data"><a href="/u/dstroii">1 Presentation</a></td>
    <td class="data"><a href="/u/dstroii/l">10 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/j2deme"><img src="//secure.gravatar.com/avatar/d91ba8f5d99a7769be255489416feaf1?s=47" alt="D91ba8f5d99a7769be255489416feaf1?s=47"></a></td>
    <td class="user"><a href="/u/j2deme">j2deme</a></td>
    <td class="data"><a href="/u/j2deme">0 Presentations</a></td>
    <td class="data"><a href="/u/j2deme/l">6 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/betahost"><img src="//secure.gravatar.com/avatar/9e169c93f0e80af6ba9ff23ceb7ee7da?s=47" alt="9e169c93f0e80af6ba9ff23ceb7ee7da?s=47"></a></td>
    <td class="user"><a href="/u/betahost">betahost</a></td>
    <td class="data"><a href="/u/betahost">1 Presentation</a></td>
    <td class="data"><a href="/u/betahost/l">8 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/xmlblog"><img src="//secure.gravatar.com/avatar/a12fb781b58e74d9fc3ea3c879f4a15b?s=47" alt="A12fb781b58e74d9fc3ea3c879f4a15b?s=47"></a></td>
    <td class="user"><a href="/u/xmlblog">Christian Romney</a></td>
    <td class="data"><a href="/u/xmlblog">0 Presentations</a></td>
    <td class="data"><a href="/u/xmlblog/l">11 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/yakatz"><img src="//secure.gravatar.com/avatar/5177f03f29b85ead87046dd5ce770bde?s=47" alt="5177f03f29b85ead87046dd5ce770bde?s=47"></a></td>
    <td class="user"><a href="/u/yakatz">yakatz</a></td>
    <td class="data"><a href="/u/yakatz">0 Presentations</a></td>
    <td class="data"><a href="/u/yakatz/l">3 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/bessarabov"><img src="//secure.gravatar.com/avatar/d0f3ba56744ffc3654bbcf8f96f34626?s=47" alt="D0f3ba56744ffc3654bbcf8f96f34626?s=47"></a></td>
    <td class="user"><a href="/u/bessarabov">bessarabov</a></td>
    <td class="data"><a href="/u/bessarabov">0 Presentations</a></td>
    <td class="data"><a href="/u/bessarabov/l">3 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/phearnot"><img src="//secure.gravatar.com/avatar/62b93f3e9650f14bda03fcf7c6d4092b?s=47" alt="62b93f3e9650f14bda03fcf7c6d4092b?s=47"></a></td>
    <td class="user"><a href="/u/phearnot">Sergey Nazarov</a></td>
    <td class="data"><a href="/u/phearnot">0 Presentations</a></td>
    <td class="data"><a href="/u/phearnot/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/fegabe"><img src="//secure.gravatar.com/avatar/314396ecefac97d7cafba790b73d3d7f?s=47" alt="314396ecefac97d7cafba790b73d3d7f?s=47"></a></td>
    <td class="user"><a href="/u/fegabe">fegabe</a></td>
    <td class="data"><a href="/u/fegabe">0 Presentations</a></td>
    <td class="data"><a href="/u/fegabe/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/loige"><img src="//secure.gravatar.com/avatar/31386a2cb727d54ee9388649b439b311?s=47" alt="31386a2cb727d54ee9388649b439b311?s=47"></a></td>
    <td class="user"><a href="/u/loige">loige</a></td>
    <td class="data"><a href="/u/loige">0 Presentations</a></td>
    <td class="data"><a href="/u/loige/l">2 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/softprops"><img src="//secure.gravatar.com/avatar/355a2b203154bf8a9423fcdecf9e44cc?s=47" alt="355a2b203154bf8a9423fcdecf9e44cc?s=47"></a></td>
    <td class="user"><a href="/u/softprops">softprops</a></td>
    <td class="data"><a href="/u/softprops">0 Presentations</a></td>
    <td class="data"><a href="/u/softprops/l">17 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/flrnz"><img src="//secure.gravatar.com/avatar/bd18dc88c9d89677b8d1f6399cc7abd9?s=47" alt="Bd18dc88c9d89677b8d1f6399cc7abd9?s=47"></a></td>
    <td class="user"><a href="/u/flrnz">flrnz</a></td>
    <td class="data"><a href="/u/flrnz">0 Presentations</a></td>
    <td class="data"><a href="/u/flrnz/l">3 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/broccolini"><img src="//secure.gravatar.com/avatar/2d84f9cec8c91449388bfb2b8078ef28?s=47" alt="2d84f9cec8c91449388bfb2b8078ef28?s=47"></a></td>
    <td class="user"><a href="/u/broccolini">broccolini</a></td>
    <td class="data"><a href="/u/broccolini">2 Presentations</a></td>
    <td class="data"><a href="/u/broccolini/l">7 Likes</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/ivanvanderbyl"><img src="//secure.gravatar.com/avatar/9db8544717ba3d5a90afb1b5b9bd50bf?s=47" alt="9db8544717ba3d5a90afb1b5b9bd50bf?s=47"></a></td>
    <td class="user"><a href="/u/ivanvanderbyl">ivanvanderbyl</a></td>
    <td class="data"><a href="/u/ivanvanderbyl">1 Presentation</a></td>
    <td class="data"><a href="/u/ivanvanderbyl/l">1 Like</a></td>
  </tr>
  <tr>
    <td class="avatar"><a class="bio_mugshot" href="/u/v1nc3ntlaw"><img src="//secure.gravatar.com/avatar/4593b4af3a1b42ccb873bc59276c48b8?s=47" alt="4593b4af3a1b42ccb873bc59276c48b8?s=47"></a></td>
    <td class="user"><a href="/u/v1nc3ntlaw">v1nc3ntlaw</a></td>
    <td class="data"><a href="/u/v1nc3ntlaw">0 Presentations</a></td>
    <td class="data"><a href="/u/v1nc3ntlaw/l">4 Likes</a></td>
  </tr>
</table>
      </div>
    </div>
    <div class="extras">
      <h1>Speaker Bio</h1>
      <p></p>
      <br>
      <p><a href="/u/tanoku">View Speaker Details</a></p>
      <br>
    </div>
  </div>
</section>

</div>


<%= render file:'/application/footers/_sdk_footer' %>
