<% content_for :armpit do %>
<%# stylesheet_link_tag 'ktv/__ytb' %>
<% end %>
<% content_for :butt2 do %>
KTV.data = {
  courseware_id: '<%=@courseware.id%>'
}
<% end %>
<style type="text/css" media="screen">
  #stickies{
    position:absolute;
    width:228px;
    top:0;
    margin-left:957px;
  }
  .sticky{
    padding:18px 8px;
    border-left: 1px solid #BCA902;
    border-right: 1px solid #BCA902;
    border-bottom: 1px solid #BCA902;
    background: #FEF49C url(<%= asset_path 'stickies_top.png' %>) repeat-x;
    width:226px;
    max-height:1000px;
    line-height:20px;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0.9);
    border-top:none;
  }
  .new_sticky{
    height:208px;
    padding-bottom:37px;
  }
  .new_sticky_btn{
    
  }
  .n_share {
       }       
  #shared_lb {
      declaration:none;
      display: block;
      float: left;
      margin-left: 5px;
      margin-right:10px;
      margin-top:4px;
/*      background-image: url(<%= asset_path 'task-x.png' %>); */
      }
  #shared_lb.share-private {
/*        background-image: url(<%= asset_path 'task-x.png' %>);*/
        }
  #shared_lb.share-public{
/*        background-image: url(<%= asset_path 'task-apostrophe.png' %>); */
        }
  #shared_lb.share-followers {
/*        background-image: url(<%= asset_path 'task-dash.png' %>); */
        }

</style>
<script type="text/javascript" charset="utf-8">
  <% content_for :butt2 do %>
  $("textarea.sticky").autosize('autosizejs',10);
  $('#new_sticky_cancel').off().on('click',function(){
    $('#new_note').hide();
    window.frames[0].eval("window.biji_group.setOpacity(0);");
    window.frames[0].eval("$(window.biji_canvas).css('background','rgba(0,0,0,0)')");
    window.frames[0].eval("$('.overnav').show()");
    window.frames[0].eval("for(i=0;i<biji_already.length;++i){window.biji_layer.add(biji_already[i]);}");
    window.frames[0].eval("window.biji_stage.draw();");
    return false;
  });
  $('#new_note').bind('ajax:complete',function(jqXHR, textStatus){
    if(200==textStatus.status){
      if ('Succeed'==textStatus.responseText) {
        time_now = (new Date).getTime();
        KTV.sdk_flashes_clear();
        $('#new_note').after(
          $('<textarea></textarea>').
            attr('readonly','readonly').
            addClass('sticky').
            attr('id','note_'+time_now.toString()).
            val($('#note_body').val())
        );
        $('#new_sticky_cancel').trigger('click');
        real_val = $('#note_'+time_now.toString()).position().top + $('#note_'+time_now.toString()).height() / 2;
        real_x = $('#note_x').val();
        real_y = $('#note_y').val();
        real_width = $('#note_width').val();
        real_height = $('#note_height').val();
        window.frames[0].eval("biji_addrectangle("+real_x+","+real_y+","+real_width+","+real_height+","+real_val+",-1);");
        $('#note_body').val('');
      }else{
        KTV.sdk_flashes_set('error',textStatus.responseText);
      }
    }else{
      KTV.sdk_flashes_set('error','网络通信失败');
    }
  });
  $('#shared_lb').live("click", function(e) {
      $(this).toggleShareMode();
      return false;
  }); 

  <% end %>
</script>
<div class="__own">
  <div class="wrapper">

    <div id="stickies" style="display:none">
      <%= form_for [@courseware,@note],:remote => true,:html=>{style:'display:none;width:225px'} do |f| %>
        <%= f.hidden_field :page %>
        <%= f.hidden_field :x %>
        <%= f.hidden_field :y %>
        <%= f.hidden_field :width %>
        <%= f.hidden_field :height %>
        <%= f.hidden_field :courseware_id %>
        <textarea class="sticky new_sticky" name="note[body]" id="note_body" onkeydown=""></textarea>
        <div class="wrapper222" style="position:relative;top:-38px">
            <div class="n_share">
            <%= f.hidden_field :shared %>
            <%= f.label :shared,'仅自己可见',:id => 'shared_lb'%>
            </div>
          <button id="new_sticky_cancel" class="new_sticky_btn" style="float:right;margin-right:2px"><span class="button primary cancel">取消</span></button>
          <button id="new_sticky_submit" class="new_sticky_btn" style="float:right;margin-right:5px"><span class="primary">保存笔记</span></button>
        </div>f
      <% end %>
      <% @courseware.notes.where(:page => 0).each_with_index do |note,index| %>
      <!-- 这个查询怎么写？:user_id=>BSON::ObjectId(\"#{current_user.id}\")
      "page = #{0}AND ((shared = 1) OR (shared = 0 AND user_id = #{current_user.id}) OR (shared = 2 AND (user_id in #{current_user.followers})))" -->
        <textarea class="sticky" readonly="readonly" id="note_<%= note.id %>"><%= note.body %></textarea>
        <% content_for :butt3 do %>
          real_val = $('#note_<%= note.id %>').position().top + $('#note_<%= note.id %>').height() / 2;
          window.frames[0].eval("biji_addrectangle(<%= note.x %>,<%= note.y %>,<%= note.width %>,<%= note.height %>,"+real_val+",<%=index%>);");
        <% end %>
      <% end %>
    </div>
  </div>  
</div>
<script type="text/javascript" charset="utf-8">
  window.wait_till_frame_ready = function(){
    <%= yield :butt3 %>
  }
</script>
<div class="__sdk"><%# todo: 710px ..ratio %>
<section id="presentation" class="feature">

  
  <div class="wrapper">

    <% if @courseware.thin? %>
    <div class="extras" style="float:right;margin-left:12px">
      <%= render :partial => 'presenter', :locals => {user:@courseware.uploader} %>
    </div>
    <% end  %>
    
    <h1>
      <%if @cws%>第<%=@courseware.courseware_series_no%>集. <%end%>
      <%= @courseware.title %>
      <%if @cws%>
        <span style="font-size:16px;text-align:center">
        (
          <%= link_to('上一集',@cws.coursewares.where('courseware_series_no = ?', @courseware.courseware_series_no - 1).first.path)+' |' if @courseware.courseware_series_no - 1 > 0 %>
          <%= link_to('下一集',@cws.coursewares.where('courseware_series_no = ?', @courseware.courseware_series_no + 1).first.path)+' |' if @courseware.courseware_series_no + 1 <= @cws.coursewares_count %>
          <%=link_to "共#{@cws.coursewares_count}集",'#cws_list'%>
        )
        </span>
      <%end%>
      <% if owner? @courseware %>
        <a id="edit_presentation" class="grey" style="display:inline-block;" href="<%= edit_courseware_path(@courseware) %>">编辑课件</a>
      <% end %>
    </h1>

    <% if @courseware.thin? %>

    <div class="main" style="width:100%;margin-top:12px;">
        <div class="slide_frame" id="slides_container">
              <script async="async" class="speakerdeck-embed" data-course-slug="<%=@courseware.topic_id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
        </div>
    </div>

    <div class="extras" style="float:right;margin-right:0px">
      <ul class="delimited share" style="margin-bottom:0;border-top:none">
        <li class="download" style="border-top:none"><%=Courseware::SORTSTR[@courseware.sort]%>(<%=@courseware.down_pdf_size ? number_to_human_size(@courseware.down_pdf_size*1000,:precision=>1) : '大小未知' %>)<a target="_blank" href="<%= download_courseware_path(@courseware)%>">立即下载</a></li>
      </ul>
    </div>
    

    <div class="extras" style="float:right;margin-right:40px">
      <ul class="delimited share" style="margin-bottom:0;border-top:none">
        <li class="dianjiliang" style="border-top:none">下载量 <a href="#watch-view-count"><%= number_with_delimiter @courseware.views_count %> 次</a></li>
      </ul>
    </div>
    
    
    <div class="extras" style="float:right;margin-right:18px;margin-right:40px">
      <ul class="delimited" style="margin-bottom:0;border-top:none">
        <li class="like" style="border-top:none">
        <% unless current_user and @courseware.user_id==current_user.id%>
          <% if thank_courseware_ed?(@courseware) %>
            <a href="javascript:void(0)" class="unlike purple" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">已喜欢</a>
          <% else %>
            <a href="javascript:void(0)" class="like grey" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">我喜欢</a>
          <% end %>
        <% else %>
            <a href="javascript:void(0)" class="like grey">收到的喜欢</a>
        <% end %>
          <a href="#fans" class="likes"><span id="weizuozhefasongganxie2"><%= @courseware.thanked_count %></span> 喜欢</a>
        </li>

      </ul>
    </div>
    
    <div class="extras" style="float:right;margin-right:18px;margin-right:40px">
      <ul class="delimited" style="margin-bottom:0;border-top:none">
        <li class="category" style="border-top:none">领域 <a href="/topics/<%= @courseware.topic_id %>"><%= @courseware.topic %></a></li>
      </ul>
    </div>
    <div style="width:51%;float:left" class="extras">
      <h1><%=image_tag('zuozhe.png',alt:'课件原作者',style:'margin-top:16px;margin-bottom:4px')%></h1>
      <% style='width:50%;float:left' %>
      <%= render :partial => 'presenter', :locals => {user:@courseware.user, :style=>style} %>
    </div>
    
    <% else %>
    <div class="main">
        <div class="slide_frame" id="slides_container">

<% case @courseware.sort.to_sym %>
<% when :ppt,:pptx,:doc,:docx,:pdf %>
          <script async="async" class="speakerdeck-embed" data-course-slug="<%=@courseware.topic_id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
<% when :webm %>
      <img src="/tmp1.png">
      <img src="/tmp2.png">
<% when :xunlei %>

      <script type="text/javascript" charset="utf-8">
        window.curUzreInfo = <%=raw Ktv::Xunlei.give_me_a_user.to_json %>;
      </script>

      <div class="player">
      <div id="XL_CLOUD_VOD_PLAYER" from="xlpan_default" style="width:100%;background:#000;height:604px">
      <img width="100%" src="http://vod.lixian.xunlei.com/img/player_startup.jpg">
      <a enable_openwindow="false" format="p" start="0" title="" filesize="" url="" cid="" enable_kkva="undefined" enable_setting="undefined" enable_filelist="undefined" enable_caption="undefined" enable_download="undefined" gcid="" share_url="<%= @courseware.path(:url => true) %>" autoplay="true" enable_panel="true" width="100%" href="<%= @courseware.xunlei_url %>">正在载入视频, 请稍等.</a>
      </div>
      <script type="text/javascript" charset="utf-8" src='<%= asset_path('s.player.js') %>'></script>
      </div>
<% when :youku %>
    <embed src="http://player.youku.com/player.php/sid/XMTczNDg4NzY0/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
<% end %>
        </div>
    </div>

    <div class="extras">
      <%= render :partial => 'presenter', :locals => {user:@courseware.uploader} %>

      <ul class="delimited">
          <li class="like">
        <% unless current_user and @courseware.user_id==current_user.id%>
          <% if thank_courseware_ed?(@courseware) %>
            <a href="javascript:void(0)" class="unlike purple" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">已喜欢</a>
          <% else %>
            <a href="javascript:void(0)" class="like grey" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">我喜欢</a>
          <% end %>
        <% else %>
            <a href="javascript:void(0)" class="like grey">收到的喜欢</a>
        <% end %>
            <a href="#fans" class="likes"><span id="weizuozhefasongganxie2"><%= @courseware.thanked_count %></span> 喜欢</a>
          </li>
        <li class="category">领域 <a href="/topics/<%= @courseware.topic_id %>"><%= @courseware.topic %></a></li>
        <li class="dianjiliang">点击量 <a href="#watch-view-count"><%= number_with_delimiter @courseware.views_count %> 次</a></li>
              </ul>
      <h1><%=image_tag('share.png',alt:'下载此课件')%></h1>
      <ul class="delimited share">
        <li class="download"><%=Courseware::SORTSTR[@courseware.sort]%>(<%=@courseware.down_pdf_size ? number_to_human_size(@courseware.down_pdf_size*1000,:precision=>1) : '大小未知' %>)<a target="_blank" href="<%= download_courseware_path(@courseware)%>">立即下载</a></li>
      </ul>
  <% unless @courseware.user_id==@courseware.uploader_id %>
      <h1><%=image_tag('zuozhe.png',alt:'课件原作者',style:'margin-top:26px;margin-bottom:4px')%></h1>
      <% style='margin-top:10px' %>
      <%= render :partial => 'presenter', :locals => {user:@courseware.user, :style=>style} %>
  <% end %>
    </div>
  </div>
  <% end %>
</section>

</div>

<div class="__ytb" style="display:none">
  <div id="watch-main-container" style="padding-top:20px">
      <div id="watch-main">
        <div id="watch-panel">
              <div id="flash10-promo-div" class="yt-alert yt-alert-default yt-alert-warn hid ">  <div class="yt-alert-icon">
      <img alt="Alert icon" class="icon master-sprite" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
    </div>
  <div class="yt-alert-buttons">  <button role="button" data-close-parent-class="yt-alert" onclick=";return false;" class="close yt-uix-close yt-uix-button yt-uix-button-close" type="button"><span class="yt-uix-button-content">Close </span></button>
  </div><div role="alert" class="yt-alert-content">    <span class="yt-alert-vertical-trick"></span>
      <div class="yt-alert-message">
              Upgrade to the latest Flash Player for improved playback performance. <a onmousedown="urchinTracker('/Events/VideoWatch/GetFlashUpgrade');" href="http://www.adobe.com/go/getflashplayer/">Upgrade now</a> or <a href="//support.google.com/youtube/bin/answer.py?answer=95402">more info</a>.
      </div>
  </div></div>

    <div id="watch-actions">
            <div id="watch-actions-right">
      <span class="watch-view-count">
        <strong><%= @courseware.views_count %></strong>
  点击
      </span>
      <button role="button" data-button-action="yt.www.watch.actions.stats" class="yt-uix-tooltip yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="watch-insight-button" type="button" title="Show video statistics" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="Show video statistics" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-watch-insight"><span class="yt-valign-trick"></span></span></button>
    </div>

          <span data-button-toggle-group="optional" class="yt-uix-button-group " id="watch-like-unlike"><button role="button" data-button-action="yt.www.watch.actions.like" data-button-toggle="true" id="watch-like" class="start yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button" title="I like this" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="I like this" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-watch-like"><span class="yt-valign-trick"></span></span><span class="yt-uix-button-content">Like </span></button><button role="button" data-button-action="yt.www.watch.actions.unlike" data-button-toggle="true" id="watch-unlike" class="end yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button" title="I dislike this" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="I dislike this" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-watch-unlike"><span class="yt-valign-trick"></span></span></button></span>


    <button role="button" data-button-action="yt.www.watch.actions.addto" title="Add to favorites or playlist" onclick=";return false;" class="yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button" data-tooltip-text="Add to favorites or playlist"><span class="yt-uix-button-content"><span class="addto-label">Add to</span> </span></button>


      <button role="button" data-button-action="yt.www.watch.actions.share" id="watch-share" class="yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button" title="Share or embed this video" onclick=";return false;"><span class="yt-uix-button-content">Share </span></button>

      <button role="button" data-button-action="yt.www.watch.actions.flag" id="watch-flag" class="yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button" title="Flag as inappropriate" onclick=";return false;" data-tooltip-text="Flag as inappropriate"><span class="yt-uix-button-icon-wrapper"><img alt="Flag as inappropriate" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-watch-flag"><span class="yt-valign-trick"></span></span></button>




    </div>

    <div class="hid" id="watch-actions-area-container">
      <div class="yt-rounded" id="watch-actions-area">
          <div class="watch-actions-panel hid" id="watch-actions-loading">
  Loading...
    </div>

      <div class="watch-actions-panel hid" id="watch-actions-error">
      <div class="yt-alert yt-alert-naked yt-alert-error  ">  <div class="yt-alert-icon">
      <img alt="Alert icon" class="icon master-sprite" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
    </div>
  <div id="watch-error-string" role="alert" class="yt-alert-content"></div></div>
    </div>


    <div class="watch-actions-panel hid" id="watch-actions-addto"></div>

      <div class="watch-actions-panel hid" id="watch-actions-share">
      <div id="watch-actions-share-loading">
  Loading...
      </div>
      <div class="hid" id="watch-actions-share-panel"></div>
    </div>





    <div class="watch-actions-panel hid" id="watch-actions-ajax"></div>

    <div class="close">
      <img onclick="yt.www.watch.actions.hide();" class="close-button" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
    </div>

      </div>
    </div>

    <div id="watch-info">
        <div data-expander-action="yt.www.watch.watch5.handleToggleDescription" class="yt-uix-expander  yt-uix-expander-collapsed" id="watch-description">
      <div id="watch-description-clip">
        <p id="watch-uploader-info">

  <a dir="ltr" rel="author" class="yt-uix-sessionlink yt-user-name author" href="/users/<%= @courseware.user_id %>"><%= User.get_name @courseware.user_id %></a> 发布于 <span class="watch-video-date" id="eow-date"><%= timeago @courseware.created_at  %></span>


        </p>
        <div id="watch-description-text">
          <p id="eow-description"><%= @courseware.desc %></p>
        </div>
          <div id="watch-description-extras">
      <h4>
  领域:
      </h4>
          <p id="eow-category"><a href="/music"><%= link_to "/topics/#{Topic.get_name @courseware.topic_id}", @courseware.topic %></a></p>



        <h4>License:</h4>
          <p id="eow-reuse">
  Standard YouTube License
    </p>


    </div>

      </div>

        <ul id="watch-description-extra-info">
        <li>
              <div class="video-extras-sparkbars">
      <div style="width: 98.0%" class="video-extras-sparkbar-likes"></div>
      <div style="width: 2.0%" class="video-extras-sparkbar-dislikes"></div>
    </div>
    <span class="video-extras-likes-dislikes">
      <span class="likes">98</span> likes, <span class="dislikes">2</span> dislikes
    </span>


        </li>


















    </ul>


          <div class="yt-horizontal-rule "><span class="first"></span><span class="second"></span><span class="third"></span></div>

    <div class="yt-uix-expander-head" id="watch-description-toggle">
      <div class="expand" id="watch-description-expand">
        <button role="button" onclick=";return false;" class="metadata-inline yt-uix-button yt-uix-button-text" type="button"><span class="yt-uix-button-content">Show more <img alt="Show more" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
      </div>
      <div class="collapse" id="watch-description-collapse">
        <button role="button" onclick=";return false;" class="metadata-inline yt-uix-button yt-uix-button-text" type="button"><span class="yt-uix-button-content">Show less <img alt="Show less" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
      </div>
    </div>



    </div> 


    </div>

    <div id="watch-discussion">



          <div class="" data-type="highlights" id="comments-view">
          <div class="comment-share-area yt-rounded hid" id="comment-share-area">
      <div class="comment-share-content">
        <h4>Link to this comment:</h4>
        <div>
          <input type="text" class="comment-share-url yt-uix-form-input-text">
        </div>
        <div>
          <span>Share to:</span>
            <img action="yt.window.popup('http:\/\/www.facebook.com\/sharer.php?u=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;t=_COMMENT_TEXT_', {height:440, width:620, scrollbars:true});" class="icon-comment-share icon-comment-share-facebook" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" title="Facebook" alt="">
            <img action="yt.window.popup('http:\/\/twitter.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;text=_COMMENT_TEXT_%3A&amp;via=youtube', {height:650, width:1024, scrollbars:true});" class="icon-comment-share icon-comment-share-twitter" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" title="Twitter" alt="">
            <img action="yt.window.popup('https:\/\/plus.google.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;authuser=0&amp;source=yt', {height:620, width:620, scrollbars:true});" class="icon-comment-share icon-comment-share-googleplus" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" title="Google+" alt="">
        </div>
      </div>
      <div data-action="close-share" class="close comment-action">
        <img class="close-button" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
      </div>
    </div>


                  <div class="comments-section">
      <h4>热门评论</h4>
      <ul class="comment-list">



    <li data-score="3" data-id="G-DCl1ThRwAITNaeGThpv220N_3QrxKPFQG6HCknGsA" data-author-id="lUyJVrZyZs0A0e2jJhrh5Q" data-author-viewing="False" data-tag="top" class="comment yt-tile-default ">

      <div class="comment-body">


    <div class="content-container">
      <div class="content">

          <div dir="ltr" class="comment-text">
            <p>god&#65279; i've missed these! more please :D :D :D </p>

          </div>

          <p class="metadata">
            <span class="author ">
                  <a dir="ltr" data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D" class="yt-uix-sessionlink yt-user-name " href="/user/sinhaxx">sinhaxx</a>

            </span>
            <span class="time">
              6 hours ago
            </span>
              <span title="3 up, 0 down" class="comments-rating-positive">
                3
                <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="comments-rating-thumbs-up">
              </span>
          </p>
      </div>


          <div class="comment-actions">
  <span class="yt-uix-button-group"><button role="button" data-tooltip-show-delay="300" data-action="vote-up" title="Vote Up" onclick=";return false;" class="start comment-action-vote-up comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="Vote Up" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-up"><span class="yt-valign-trick"></span></span></button><button role="button" data-tooltip-show-delay="300" data-action="vote-down" title="Vote Down" onclick=";return false;" class="end comment-action-vote-down comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="Vote Down" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-down"><span class="yt-valign-trick"></span></span></button></span><span class="yt-uix-button-group"><button role="button" data-upsell="comment" data-action="reply" onclick=";return false;" class="start comment-action link-gplus-lightbox yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">Reply </span></button><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" data-button-has-sibling-menu="true" onclick=";return false;" class="end flip yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><img alt="" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-arrow"><div style="display: none;" class=" yt-uix-button-menu yt-uix-button-menu-default"><ul><li data-action="share" class="comment-action"><span class="yt-uix-button-menu-item">Share</span></li><li data-action="remove" class="comment-action-remove comment-action"><span class="yt-uix-button-menu-item">Remove</span></li><li data-action="flag" class="comment-action"><span class="yt-uix-button-menu-item">Flag for spam</span></li><li data-action="block" class="comment-action-block comment-action"><span class="yt-uix-button-menu-item">Block User</span></li><li data-action="unblock" class="comment-action-unblock comment-action"><span class="yt-uix-button-menu-item">Unblock User</span></li></ul></div></button></span>  </div>

    </div>



      </div>
    </li>




    <li data-score="3" data-id="G-DCl1ThRwCYybigW1O2z8fNBRizcTO8M5PGGb8UumQ" data-author-id="4xsFbOJ2qhaJuGoaVCM7nw" data-author-viewing="False" data-tag="top" class="comment yt-tile-default  last">

      <div class="comment-body">


    <div class="content-container">
      <div class="content">

          <div dir="ltr" class="comment-text">
            <p>dammit I&#65279; love alice</p>

          </div>

          <p class="metadata">
            <span class="author ">
                  <a dir="ltr" data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D" class="yt-uix-sessionlink yt-user-name " href="/user/markitox91">markitox91</a>

            </span>
            <span class="time">
              8 hours ago
            </span>
              <span title="3 up, 0 down" class="comments-rating-positive">
                3
                <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="comments-rating-thumbs-up">
              </span>
          </p>
      </div>


          <div class="comment-actions">
  <span class="yt-uix-button-group"><button role="button" data-tooltip-show-delay="300" data-action="vote-up" title="Vote Up" onclick=";return false;" class="start comment-action-vote-up comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="Vote Up" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-up"><span class="yt-valign-trick"></span></span></button><button role="button" data-tooltip-show-delay="300" data-action="vote-down" title="Vote Down" onclick=";return false;" class="end comment-action-vote-down comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="Vote Down" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-down"><span class="yt-valign-trick"></span></span></button></span><span class="yt-uix-button-group"><button role="button" data-upsell="comment" data-action="reply" onclick=";return false;" class="start comment-action link-gplus-lightbox yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">Reply </span></button><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" data-button-has-sibling-menu="true" onclick=";return false;" class="end flip yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><img alt="" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-uix-button-arrow"><div style="display: none;" class=" yt-uix-button-menu yt-uix-button-menu-default"><ul><li data-action="share" class="comment-action"><span class="yt-uix-button-menu-item">Share</span></li><li data-action="remove" class="comment-action-remove comment-action"><span class="yt-uix-button-menu-item">Remove</span></li><li data-action="flag" class="comment-action"><span class="yt-uix-button-menu-item">Flag for spam</span></li><li data-action="block" class="comment-action-block comment-action"><span class="yt-uix-button-menu-item">Block User</span></li><li data-action="unblock" class="comment-action-unblock comment-action"><span class="yt-uix-button-menu-item">Unblock User</span></li></ul></div></button></span>  </div>

    </div>



      </div>
    </li>


      </ul>
    </div>



    <div class="comments-section ">
      <div id="comments-header-container">
        <div id="comments-header">
            <a href="/all_comments?v=j6AwkGZYbds" class="comments-section-see-all">
  see all
            </a>
          <h4>
  所有评论
            <span class="comments-section-stat">(<%= @courseware.comments_count %>)</span>
          </h4>
        </div>
      </div>

            <div class="comments-post-container clearfix">
              <% if current_user %>
  <%= form_for @comment,:remote => true do |f| %>
      <%= f.hidden_field :commentable_type %>
      <%= f.hidden_field :commentable_id %>
      <div class="yt-alert yt-alert-default yt-alert-error hid comments-post-message">  <div class="yt-alert-icon">
      <img alt="Alert icon" class="icon master-sprite" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
    </div>
  <div class="yt-alert-buttons"></div><div role="alert" class="yt-alert-content"></div></div>

      <a class="yt-user-photo comments-post-profile" href="/user/pmq20">
          <span class="video-thumb ux-thumb yt-thumb-square-46 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="46" alt="pmq20" src="<%= avatar_url current_user %>"><span class="vertical-align"></span></span></span></span>

      </a>
  <div class="comments-textarea-container"><img class="comments-textarea-tip" alt="" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif"><label data-upsell="comment" onclick="yt.www.comments.initForm(this, true, false, false);" class="comments-textarea-label link-gplus-lightbox" id="comment_placeholder">评论一下这个课件吧...</label>
    <%= f.text_area :body,id:"comment_placeholder_now",class:"yt-uix-form-textarea comments-textarea link-gplus-lightbox" %>
</div>

      <p class="comments-remaining">
        还可以输入<span data-max-count="500" class="comments-remaining-count"></span>字
      </p>
      <p class="comments-post-buttons">
        <button role="button" class="comments-post yt-uix-button yt-uix-button-default" type="submit"><span class="yt-uix-button-content">发表评论 </span></button>
      </p>
    <% end %>
    <% end %>


    </div>
    <script type="text/javascript" charset="utf-8">
    <% content_for :butt2 do %>
      $('#comment_placeholder_now').focus(function(){
        $('#comment_placeholder').html('');
        $('.comments-textarea-container img').css('z-index','2');
        $('.comments-textarea-container textarea').height('78');
        $('.comments-post-buttons').show();
      });
      $('#new_comment').bind('ajax:success',function(event, responseText, ajaxOptions){
        $('#the_comment-list').prepend(responseText);
      })
    <% end %>

    </script>


      <ul class="comment-list" id="the_comment-list">

<% @courseware.comments.each do |comment| %>

  <%= render :partial=>'cw_comment',:locals=>{comment:comment} %>
<% end %>


      </ul>
    </div>




            <div class="comments-section">
        <div data-ajax-enabled="true" class="comments-pagination">


      <div role="navigation" class="yt-uix-pager">




  <a data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D" aria-label="Go to page 1" data-page="1" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-toggled yt-uix-button-default" href="/all_comments?v=j6AwkGZYbds&amp;page=1"><span class="yt-uix-button-content">1</span></a>&nbsp;



  <a data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D" aria-label="Go to page 2" data-page="2" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" href="/all_comments?v=j6AwkGZYbds&amp;page=2"><span class="yt-uix-button-content">2</span></a>&nbsp;



  <a data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D" aria-label="Go to page 3" data-page="3" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" href="/all_comments?v=j6AwkGZYbds&amp;page=3"><span class="yt-uix-button-content">3</span></a>&nbsp;



  <a data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D" aria-label="Go to page 4" data-page="4" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" href="/all_comments?v=j6AwkGZYbds&amp;page=4"><span class="yt-uix-button-content">4</span></a>&nbsp;




  <a data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D" data-page="2" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-next yt-uix-pager-button yt-uix-button-default" href="/all_comments?v=j6AwkGZYbds&amp;page=2"><span class="yt-uix-button-content">Next »</span></a>&nbsp;
      </div>

        </div>
    </div>



        <ul>
      <li id="parent-comment-loading" class="hid"> Loading comment...</li>
    </ul>

      <div class="hid" id="comments-loading">Loading...</div>
    </div>



    </div>

        </div>
        <div id="watch-sidebar">


     <div class="watch-sidebar-section" id="watch-context-container">
        <div class="watch-sidebar-body">
          <div id="watch-context">
            <h4 class="context-head">
              <a href="/?feature=context-gfa" class="context-link">
                  <img alt="" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="context-icon context-icon-guide-feed">
                <strong dir="ltr" class="context-title">More from subscriptions</strong>
              </a>
              <img alt="" class="context-seeall-icon" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
            </h4>
              <div class="yt-horizontal-rule "><span class="first"></span><span class="second"></span><span class="third"></span></div>

            <div class="context-body" id="watch-context-body">
              <ul class="video-list" id="watch-context-item-list">
                  <li class="video-list-item">
                      <a data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=context-gfa&amp;context=G2c0af5cFAAAAAAAAAAA" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=WTKajOEkscY&amp;feature=context-gfa"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i4.ytimg.com/vi/WTKajOEkscY/default.jpg" alt="Voice Of Kibera Community Forum" src="//i4.ytimg.com/vi/WTKajOEkscY/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">8:09</span>


    <button role="button" data-video-ids="WTKajOEkscY" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="Voice Of Kibera Community Forum" class="title" dir="ltr">Voice Of Kibera Community Forum</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">KiberaNewsNetwork</span></span><span class="stat view-count">3 views</span></a>
                  </li>
                  <li class="video-list-item">
                      <a data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=context-gfa&amp;context=G2c0af5cFAAAAAAAAAAA" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=WbcX1o24fug&amp;feature=context-gfa"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i4.ytimg.com/vi/WbcX1o24fug/default.jpg" alt="FRINGE - &quot;Etta&quot; Season Premiere Promo" src="//i4.ytimg.com/vi/WbcX1o24fug/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">0:33</span>


    <button role="button" data-video-ids="WbcX1o24fug" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="FRINGE - &quot;Etta&quot; Season Premiere Promo" class="title" dir="ltr">FRINGE - "Etta" Season Premiere Promo</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">FoxBroadcasting</span></span><span class="stat view-count">86,540 views</span></a>
                  </li>
                  <li class="video-list-item">
                      <a data-sessionlink="ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=context-gfa&amp;context=G2c0af5cFAAAAAAAAAAA" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=yO1Pj089po4&amp;feature=context-gfa"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i2.ytimg.com/vi/yO1Pj089po4/default.jpg" alt="HOTEL HELL - Preview #6 from &quot;Cambridge Hotel&quot; airing MON 8/20" src="//i2.ytimg.com/vi/yO1Pj089po4/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">1:40</span>


    <button role="button" data-video-ids="yO1Pj089po4" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="HOTEL HELL - Preview #6 from &quot;Cambridge Hotel&quot; airing MON 8/20" class="title" dir="ltr">HOTEL HELL - Preview #6 from "Cambridge Hotel" airing MON 8/20</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">FoxBroadcasting</span></span><span class="stat view-count">1,248 views</span></a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>




  <div class="watch-sidebar-section"><h4 class="watch-sidebar-head">Suggestions</h4>  <div class="yt-horizontal-rule "><span class="first"></span><span class="second"></span><span class="third"></span></div>
  <div class="watch-sidebar-body" id="watch-related-container"><ul class="video-list" id="watch-related"><div class="" id="ppv-container"></div><li class="video-list-item"><a data-sessionlink="ved=CAIQzRooAA%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=iaqFULQMH0E&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i2.ytimg.com/vi/iaqFULQMH0E/default.jpg" alt="Hadouken! - Bad Signal (The Prototypes Remix)" src="//i2.ytimg.com/vi/iaqFULQMH0E/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">4:31</span>


    <button role="button" data-video-ids="iaqFULQMH0E" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="Hadouken! - Bad Signal (The Prototypes Remix)" class="title" dir="ltr">Hadouken! - Bad Signal (The Prototypes Remix)</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">3,537 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAMQzRooAQ%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=D9Md6bUNQhI&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i1.ytimg.com/vi/D9Md6bUNQhI/default.jpg" alt="Hadouken! - Bad Signal (Wideboys Radio Edit)" src="//i1.ytimg.com/vi/D9Md6bUNQhI/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">3:36</span>


    <button role="button" data-video-ids="D9Md6bUNQhI" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="Hadouken! - Bad Signal (Wideboys Radio Edit)" class="title" dir="ltr">Hadouken! - Bad Signal (Wideboys Radio Edit)</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">3,250 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAQQzRooAg%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=PRAEUhOxbzE&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i1.ytimg.com/vi/PRAEUhOxbzE/default.jpg" alt="HADOUKEN! - BAD SIGNAL (LYRICS)" src="//i1.ytimg.com/vi/PRAEUhOxbzE/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">3:56</span>


    <button role="button" data-video-ids="PRAEUhOxbzE" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="HADOUKEN! - BAD SIGNAL (LYRICS)" class="title" dir="ltr">HADOUKEN! - BAD SIGNAL (LYRICS)</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">12,503 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAUQzRooAw%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=K1-QW20ge98&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i4.ytimg.com/vi/K1-QW20ge98/default.jpg" alt="Hadouken! - Bad Signal (Official Video)" src="//i4.ytimg.com/vi/K1-QW20ge98/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">4:00</span>


    <button role="button" data-video-ids="K1-QW20ge98" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;" data-tooltip-text="Watch Later"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="Hadouken! - Bad Signal (Official Video)" class="title" dir="ltr">Hadouken! - Bad Signal (Official Video)</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">166,429 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAYQzRooBA%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=rgKaEkxGJWw&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i3.ytimg.com/vi/rgKaEkxGJWw/default.jpg" alt="BLOGDOUKEN 10" src="//i3.ytimg.com/vi/rgKaEkxGJWw/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">6:45</span>


    <button role="button" data-video-ids="rgKaEkxGJWw" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 10" class="title" dir="ltr">BLOGDOUKEN 10</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">6,403 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAcQzRooBQ%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=c8I-CYre-bM&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i4.ytimg.com/vi/c8I-CYre-bM/default.jpg" alt="BLOGDOUKEN 14 - PART 1" src="//i4.ytimg.com/vi/c8I-CYre-bM/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">5:39</span>


    <button role="button" data-video-ids="c8I-CYre-bM" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 14 - PART 1" class="title" dir="ltr">BLOGDOUKEN 14 - PART 1</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">8,651 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAgQzRooBg%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=zokOOrPmgjg&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i3.ytimg.com/vi/zokOOrPmgjg/default.jpg" alt="BLOGDOUKEN 14 - PART 2" src="//i3.ytimg.com/vi/zokOOrPmgjg/default.jpg" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">7:05</span>


    <button role="button" data-video-ids="zokOOrPmgjg" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 14 - PART 2" class="title" dir="ltr">BLOGDOUKEN 14 - PART 2</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">10,171 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAkQzRooBw%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=TzM4XHlqPrA&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i1.ytimg.com/vi/TzM4XHlqPrA/default.jpg" alt="BLOGDOUKEN 2" src="//i1.ytimg.com/vi/TzM4XHlqPrA/default.jpg" data-group-key="thumb-group-1"><span class="vertical-align"></span></span></span></span><span class="video-time">5:10</span>


    <button role="button" data-video-ids="TzM4XHlqPrA" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 2" class="title" dir="ltr">BLOGDOUKEN 2</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">5,100 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAoQzRooCA%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=GUy7GPyXjkQ&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i4.ytimg.com/vi/GUy7GPyXjkQ/default.jpg" alt="BLOGDOUKEN 4" src="//i4.ytimg.com/vi/GUy7GPyXjkQ/default.jpg" data-group-key="thumb-group-1"><span class="vertical-align"></span></span></span></span><span class="video-time">5:18</span>


    <button role="button" data-video-ids="GUy7GPyXjkQ" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 4" class="title" dir="ltr">BLOGDOUKEN 4</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">4,594 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAsQzRooCQ%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=MhyrB4c4odM&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i2.ytimg.com/vi/MhyrB4c4odM/default.jpg" alt="BLOGDOUKEN 7" src="//i2.ytimg.com/vi/MhyrB4c4odM/default.jpg" data-group-key="thumb-group-1"><span class="vertical-align"></span></span></span></span><span class="video-time">4:29</span>


    <button role="button" data-video-ids="MhyrB4c4odM" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 7" class="title" dir="ltr">BLOGDOUKEN 7</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">6,450 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CAwQzRooCg%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=FoinmOzoFQs&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i3.ytimg.com/vi/FoinmOzoFQs/default.jpg" alt="BLOGDOUKEN 6" src="//i3.ytimg.com/vi/FoinmOzoFQs/default.jpg" data-group-key="thumb-group-1"><span class="vertical-align"></span></span></span></span><span class="video-time">4:14</span>


    <button role="button" data-video-ids="FoinmOzoFQs" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 6" class="title" dir="ltr">BLOGDOUKEN 6</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">6,347 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CA0QzRooCw%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=75kOrFqy-gU&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i4.ytimg.com/vi/75kOrFqy-gU/default.jpg" alt="BLOGDOUKEN 15" src="//i4.ytimg.com/vi/75kOrFqy-gU/default.jpg" data-group-key="thumb-group-1"><span class="vertical-align"></span></span></span></span><span class="video-time">6:08</span>


    <button role="button" data-video-ids="75kOrFqy-gU" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 15" class="title" dir="ltr">BLOGDOUKEN 15</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">8,904 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CA4QzRooDA%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=_c4G5NqlGEE&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i4.ytimg.com/vi/_c4G5NqlGEE/default.jpg" alt="BLOGDOUKEN 8" src="//i4.ytimg.com/vi/_c4G5NqlGEE/default.jpg" data-group-key="thumb-group-2"><span class="vertical-align"></span></span></span></span><span class="video-time">3:37</span>


    <button role="button" data-video-ids="_c4G5NqlGEE" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 8" class="title" dir="ltr">BLOGDOUKEN 8</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">3,197 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CA8QzRooDQ%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=BPQ2eqpSOzo&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i3.ytimg.com/vi/BPQ2eqpSOzo/default.jpg" alt="BLOGDOUKEN 9" src="//i3.ytimg.com/vi/BPQ2eqpSOzo/default.jpg" data-group-key="thumb-group-2"><span class="vertical-align"></span></span></span></span><span class="video-time">4:38</span>


    <button role="button" data-video-ids="BPQ2eqpSOzo" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 9" class="title" dir="ltr">BLOGDOUKEN 9</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">3,396 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CBAQzRooDg%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=fKwyqUrojn4&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i3.ytimg.com/vi/fKwyqUrojn4/default.jpg" alt="BLOGDOUKEN 17" src="//i3.ytimg.com/vi/fKwyqUrojn4/default.jpg" data-group-key="thumb-group-2"><span class="vertical-align"></span></span></span></span><span class="video-time">8:49</span>


    <button role="button" data-video-ids="fKwyqUrojn4" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 17" class="title" dir="ltr">BLOGDOUKEN 17</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">19,941 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CBEQzRooDw%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=jZP18Hjk67Q&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i3.ytimg.com/vi/jZP18Hjk67Q/default.jpg" alt="BLOGDOUKEN 13" src="//i3.ytimg.com/vi/jZP18Hjk67Q/default.jpg" data-group-key="thumb-group-2"><span class="vertical-align"></span></span></span></span><span class="video-time">5:34</span>


    <button role="button" data-video-ids="jZP18Hjk67Q" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 13" class="title" dir="ltr">BLOGDOUKEN 13</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">19,738 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CBIQzRooEA%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=vmxoiKo3if8&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i3.ytimg.com/vi/vmxoiKo3if8/default.jpg" alt="BLOGDOUKEN 1" src="//i3.ytimg.com/vi/vmxoiKo3if8/default.jpg" data-group-key="thumb-group-2"><span class="vertical-align"></span></span></span></span><span class="video-time">2:49</span>


    <button role="button" data-video-ids="vmxoiKo3if8" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 1" class="title" dir="ltr">BLOGDOUKEN 1</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">11,394 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CBMQzRooEQ%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=Uh9NKJ-7B_M&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i2.ytimg.com/vi/Uh9NKJ-7B_M/default.jpg" alt="BLOGDOUKEN 3" src="//i2.ytimg.com/vi/Uh9NKJ-7B_M/default.jpg" data-group-key="thumb-group-3"><span class="vertical-align"></span></span></span></span><span class="video-time">5:01</span>


    <button role="button" data-video-ids="Uh9NKJ-7B_M" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 3" class="title" dir="ltr">BLOGDOUKEN 3</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">11,492 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CBQQzRooEg%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=IrZpDLIll5o&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i2.ytimg.com/vi/IrZpDLIll5o/default.jpg" alt="BLOGDOUKEN 16" src="//i2.ytimg.com/vi/IrZpDLIll5o/default.jpg" data-group-key="thumb-group-3"><span class="vertical-align"></span></span></span></span><span class="video-time">8:34</span>


    <button role="button" data-video-ids="IrZpDLIll5o" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 16" class="title" dir="ltr">BLOGDOUKEN 16</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">27,905 views</span></a></li><li class="video-list-item"><a data-sessionlink="ved=CBUQzRooEw%3D%3D&amp;ei=CODC8-HI9bECFYEzpAod5GP2xw%3D%3D&amp;feature=relmfu" class="related-video yt-uix-contextlink  yt-uix-sessionlink" href="/watch?v=RhYjh_9NTGk&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" data-thumb="//i3.ytimg.com/vi/RhYjh_9NTGk/default.jpg" alt="BLOGDOUKEN 11" src="//i3.ytimg.com/vi/RhYjh_9NTGk/default.jpg" data-group-key="thumb-group-3"><span class="vertical-align"></span></span></span></span><span class="video-time">3:31</span>


    <button role="button" data-video-ids="RhYjh_9NTGk" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" type="button" title="Watch Later" onclick=";return false;"><span class="yt-uix-button-content">  <img alt="Watch Later" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif">
   </span></button>
  </span><span title="BLOGDOUKEN 11" class="title" dir="ltr">BLOGDOUKEN 11</span><span class="stat attribution">by <span dir="ltr" class="yt-user-name ">Hadoukentheband</span></span><span class="stat view-count">3,962 views</span></a></li></ul><ul class="video-list hid" id="watch-more-related"><li id="watch-more-related-loading">Loading more suggestions...</li></ul></div>     <div class="watch-sidebar-foot"><p class="content"><button role="button" data-button-action="yt.www.watch.watch5.handleLoadMoreRelated" class=" yt-uix-button yt-uix-button-default" onclick=";return false;" id="watch-more-related-button" type="button"><span class="yt-uix-button-content">Load more suggestions </span></button></p></div></div> 
            <span class="yt-vertical-rule-main"></span>
    <span class="yt-vertical-rule-corner-top"></span>
    <span class="yt-vertical-rule-corner-bottom"></span>

        </div>
        <div class="clear"></div>
      </div>
      <div style="visibility: hidden; height: 0px; padding: 0px; overflow: hidden;">


    <div id="baseDiv"></div>

      </div>
    </div>
</div>


<%= render file:'/application/footers/_sdk_footer' %>
