<div class="__sdk"><%# todo: 710px ..ratio %>
<section id="presentation" class="feature">
  <div class="wrapper">
    <h1 style="<%if @courseware.thin?%>width:516px<%end%>">
      <%if @cws%>第<%=@courseware.courseware_series_no%>集. <%end%>
      <%= @courseware.title %>
      <%if @cws%>
        <span style="font-size:16px;text-align:center">
        (
          <%= link_to('上一集',@cws.coursewares.where('courseware_series_no = ?', @courseware.courseware_series_no - 1).first.path)+' |' if @courseware.courseware_series_no - 1 > 0 %>
          <%= link_to('下一集',@cws.coursewares.where('courseware_series_no = ?', @courseware.courseware_series_no + 1).first.path)+' |' if @courseware.courseware_series_no + 1 <= @cws.coursewares_count %>
          <%=link_to "共#{@cws.coursewares_count}集",'#cws_list'%>
        )
        </span>
      <%end%>
    </h1>

    <% if @courseware.thin? %>
    <div class="extras" style="float:left">
      <%= render :partial => 'presenter', :locals => {user:@courseware.user} %>
    </div>
    
    <div class="extras" style="float:right;margin-top:-26px">
      <div class="edit_header">
        <a id="edit_presentation" class="grey" href="/u/pmq20/p/chemistry/edit">Edit</a>
      </div>
      <ul class="delimited share" style="margin-bottom:0">
        <li class="dianjiliang">点击量 <a href="#watch-view-count"><%= number_with_delimiter @courseware.views_count %> 次</a></li>
        <li style=""><a href="<%= download_courseware_path @courseware %>" target="_blank" class="grey" id="share_pdf">下载源文件</a></li>
      </ul>
    </div>
    
    <div class="extras" style="float:right;margin-right:18px;margin-top:-26px">
      <ul class="delimited" style="margin-bottom:0">
        <li class="like">
          <a href="javascript:void(0)" class="like grey" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">为作者发送感谢</a>
          <a href="#fans" class="likes"><span id="weizuozhefasongganxie2"><%= @courseware.thanks_count %></span> 感谢</a>
        </li>
        <li class="category">课程 <a href="/topics/<%= @courseware.topic_id %>"><%= @courseware.topic %></a></li>
      </ul>
    </div>
    <div class="main" style="width:100%;margin-top:12px">
        <div class="slide_frame" id="slides_container">
              <script async="async" class="speakerdeck-embed" data-course-slug="<%=@courseware.topic_id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
        </div>
    </div>
    <% else %>
    <div class="main">
        <div class="slide_frame" id="slides_container">

<% case @courseware.sort.to_sym %>
<% when :ppt,:pdf %>
          <script async="async" class="speakerdeck-embed" data-course-slug="<%=@courseware.course.id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
<% when :webm %>
      <img src="/tmp1.png">
      <img src="/tmp2.png">
<% when :xunlei %>

      <script type="text/javascript" charset="utf-8">
        window.curUzreInfo = <%=raw Ktv::Xunlei.give_me_a_user.to_json %>;
      </script>

      <div class="player">
      <div id="XL_CLOUD_VOD_PLAYER" from="xlpan_default" style="width:100%;background:#000;height:604px">
      <img width="100%" src="http://vod.lixian.xunlei.com/img/player_startup.jpg">
      <a enable_openwindow="false" format="p" start="0" title="" filesize="" url="" cid="" enable_kkva="undefined" enable_setting="undefined" enable_filelist="undefined" enable_caption="undefined" enable_download="undefined" gcid="" share_url="<%= @courseware.path(:url => true) %>" autoplay="true" enable_panel="true" width="100%" href="<%= @courseware.xunlei_url %>">正在载入视频, 请稍等.</a>
      </div>
      <script type="text/javascript" charset="utf-8" src='<%= asset_path('s.player.js') %>'></script>
      </div>
<% when :youku %>
    <embed src="http://player.youku.com/player.php/sid/XMTczNDg4NzY0/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
<% end %>
        </div>
    </div>

    <div class="extras">
      <%= render :partial => 'presenter', :locals => {user:@courseware.user} %>

      <ul class="delimited">
          <li class="like">
            <a href="javascript:void(0)" class="like grey" data-method="post" data-remote="true" rel="nofollow" id="weizuozhefasongganxie">为作者发送感谢</a>
            <a href="#fans" class="likes"><span id="weizuozhefasongganxie2"><%= @courseware.thanks_count %></span> 感谢</a>
          </li>
        <li class="category">课程 <a href="/topics/<%= @courseware.topic_path %>"><%= @courseware.topic %></a></li>
        <li class="dianjiliang">点击量 <a href="#watch-view-count"><%= number_with_delimiter @courseware.views_count %> 次</a></li>
              </ul>

      <h1><%=image_tag('share.png',alt:'分享')%></h1>
      <ul class="delimited share">
        <li><a href="<%= @courseware.downpath %>" target="_blank" class="grey" id="share_pdf">下载源文件</a></li>
      </ul>
    </div>
  </div>
  <% end %>
</section>

</div>


<%= render 'flo_footer' %>
